In [2]:
import pandas as pd

In [4]:
state_pop_df = pd.read_csv("data/state_populations_cleaned.csv")
state_vacc_df = pd.read_csv("data/state_covid_vaccinations_cleaned.csv")

In [5]:
state_pop_df

                   state  population
0                Alabama     4903185
1                 Alaska      731545
2                Arizona     7278717
3               Arkansas     3017804
4             California    39512223
5               Colorado     5758736
6            Connecticut     3565287
7               Delaware      973764
8   District of Columbia      705749
9                Florida    21477737
10               Georgia    10617423
11                Hawaii     1415872
12                 Idaho     1787065
13              Illinois    12671821
14               Indiana     6732219
15                  Iowa     3155070
16                Kansas     2913314
17              Kentucky     4467673
18             Louisiana     4648794
19                 Maine     1344212
20              Maryland     6045680
21         Massachusetts     6892503
22              Michigan     9986857
23             Minnesota     5639632
24           Mississippi     2976149
25              Missouri     6137428
26               Montana     1068778
27              Nebraska     1934408
28                Nevada     3080156
29         New Hampshire     1359711
30            New Jersey     8882190
31            New Mexico     2096829
32              New York    19453561
33        North Carolina    10488084
34          North Dakota      762062
35                  Ohio    11689100
36              Oklahoma     3956971
37                Oregon     4217737
38          Pennsylvania    12801989
39          Rhode Island     1059361
40        South Carolina     5148714
41          South Dakota      884659
42             Tennessee     6829174
43                 Texas    28995881
44                  Utah     3205958
45               Vermont      623989
46              Virginia     8535519
47            Washington     7614893
48         West Virginia     1792147
49             Wisconsin     5822434
50               Wyoming      578759

In [6]:
state_vacc_df

,state,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alaska,154325,71907,21096,9829,59449,8126,12352,1688
1,Alabama,493125,165919,10057,3384,144429,2946,21345,435
2,Arkansas,361550,173312,11981,5743,144792,4798,26541,879
3,Arizona,797550,303899,10957,4175,262120,3601,41613,572
4,California,4379500,1633875,11084,4135,1335886,3381,293834,744
5,Colorado,657250,353194,11413,6133,296816,5154,54474,946
6,Connecticut,435075,264707,12203,7425,230913,6477,28602,802
7,District of Columbia,75175,55108,10652,7808,43377,6146,11685,1656
8,Delaware,106600,49369,10947,5070,41900,4303,7355,755
9,Florida,2546050,1239975,11854,5773,1125338,5240,111763,520
10,Georgia,1162275,453862,10947,4275,407000,3833,39972,376
11,Hawaii,189675,79414,13396,5609,63282,4469,16132,1139
12,Iowa,328600,158743,10415,5031,139500,4421,16860,534
13,Idaho,178175,73372,9970,4106,61118,3420,11760,658
14,Illinois,1173325,570527,9259,4502,452010,3567,111933,883
15,Indiana,816025,387137,12121,5751,320266,4757,66801,992
16,Kansas,312000,130434,10709,4477,111907,3841,17430,598
17,Kentucky,450175,235143,10076,5263,217837,4876,15699,351
18,Louisiana,492800,279398,10601,6010,240762,5179,38095,819
19,Massachusetts,776400,353117,11264,5123,306646,4449,46247,671
20,Maryland,685325,271905,11336,4498,243450,4027,28106,465
21,Maine,165175,80502,12288,5989,67133,4994,12071,898
22,Michigan,1059275,548844,10607,5496,463917,4645,81014,811
23,Minnesota,652350,259417,11567,4600,213102,3779,46008,816
24,Missouri,621200,265382,10122,4324,205217,3344,58782,958
25,Mississippi,334800,136691,11249,4593,124931,4198,11567,389
26,Montana,112125,60389,10491,5650,50413,4717,9962,932
27,North Carolina,1157100,473282,11033,4513,406257,3874,66736,636
28,North Dakota,82850,59245,10872,7774,48986,6428,9881,1297
29,Nebraska,238000,111841,12304,5782,94850,4903,16206,838
30,New Hampshire,155150,80639,11411,5931,70281,5169,10319,759
31,New Jersey,923300,432220,10395,4866,381159,4291,49420,556
32,New Mexico,237725,152465,11337,7271,122956,5864,27014,1288
33,Nevada,278175,115991,9031,3766,95837,3111,19296,626
34,New York State,2213975,1116441,11381,5739,982183,5049,120801,621
35,Ohio,1122300,487481,9601,4170,456424,3905,30910,264
36,Oklahoma,490500,267434,12396,6759,230902,5835,34706,877
37,Oregon,479325,216928,11365,5143,192550,4565,23866,566
38,Pennsylvania,1344375,605428,10501,4729,508391,3971,96395,753
39,Rhode Island,127450,59014,12031,5571,47859,4518,11136,1051
40,South Carolina,443375,209631,8611,4072,173906,3378,34277,666
41,South Dakota,99300,65377,11225,7390,54531,6164,10796,1220
42,Tennessee,723825,375669,10599,5501,313154,4586,61743,904
43,Texas,2754800,1544551,9501,5327,1337706,4613,205538,709
44,Utah,337825,189578,10537,5913,166334,5188,17275,539
45,Virginia,992375,362092,11626,4242,320175,3751,40340,473
46,Vermont,78875,42835,12640,6865,36233,5807,6545,1049
47,Washington,820875,373423,10780,4904,306942,4031,55902,734
48,Wisconsin,577325,238758,9916,4101,204746,3517,32268,554
49,West Virginia,231800,167548,12934,9349,135950,7586,31587,1763
50,Wyoming,67450,29309,11654,5064,25841,4465,3441,595