In [1]:
# Import Pandas
import pandas as pd
import psycopg2
from config import endpoint, username, password
from sqlalchemy import create_engine

In [2]:
# Read CSVs for State Data
state_pop_df = pd.read_csv("data/state_populations_cleaned.csv")
state_vacc_df = pd.read_csv("data/state_covid_vaccinations_cleaned.csv")

In [3]:
# State Populations
state_pop_df.head()

        state  population
0     Alabama     4903185
1      Alaska      731545
2     Arizona     7278717
3    Arkansas     3017804
4  California    39512223

In [4]:
# State Vaccinations
state_vacc_df.head()

,state,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alaska,154325,71907,21096,9829,59449,8126,12352,1688
1,Alabama,493125,165919,10057,3384,144429,2946,21345,435
2,Arkansas,361550,173312,11981,5743,144792,4798,26541,879
3,Arizona,797550,303899,10957,4175,262120,3601,41613,572
4,California,4379500,1633875,11084,4135,1335886,3381,293834,744

In [5]:
# State Data Merged
state_merged_df = pd.merge(state_pop_df, state_vacc_df, how="left", on="state")
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alabama,4903185,493125,165919,10057,3384,144429,2946,21345,435
1,Alaska,731545,154325,71907,21096,9829,59449,8126,12352,1688
2,Arizona,7278717,797550,303899,10957,4175,262120,3601,41613,572
3,Arkansas,3017804,361550,173312,11981,5743,144792,4798,26541,879
4,California,39512223,4379500,1633875,11084,4135,1335886,3381,293834,744

In [6]:
# Set State as the Index
state_info_df = state_merged_df.set_index("state") 
state_info_df.head()

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
state,,,,,,,,,
Alabama,4903185,493125,165919,10057,3384,144429,2946,21345,435
Alaska,731545,154325,71907,21096,9829,59449,8126,12352,1688
Arizona,7278717,797550,303899,10957,4175,262120,3601,41613,572
Arkansas,3017804,361550,173312,11981,5743,144792,4798,26541,879
California,39512223,4379500,1633875,11084,4135,1335886,3381,293834,744

In [7]:
# Add Empty Column for New Calculation
state_info_df["percent_vaccinated"] = ""
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,percent_vaccinated
state,,,,,,,,,,
Alabama,4903185,493125,165919,10057,3384,144429,2946,21345,435,
Alaska,731545,154325,71907,21096,9829,59449,8126,12352,1688,
Arizona,7278717,797550,303899,10957,4175,262120,3601,41613,572,
Arkansas,3017804,361550,173312,11981,5743,144792,4798,26541,879,
California,39512223,4379500,1633875,11084,4135,1335886,3381,293834,744,
Colorado,5758736,657250,353194,11413,6133,296816,5154,54474,946,
Connecticut,3565287,435075,264707,12203,7425,230913,6477,28602,802,
Delaware,973764,106600,49369,10947,5070,41900,4303,7355,755,
District of Columbia,705749,75175,55108,10652,7808,43377,6146,11685,1656,
Florida,21477737,2546050,1239975,11854,5773,1125338,5240,111763,520,

In [8]:
# Calcuation for percent vaccinated by state
for index, row in state_info_df.iterrows():
    population = row["population"]
    vaccinated = row["total_administered"]
    percent_vaccinated = round((vaccinated / population) * 100, 2)
    
    state_info_df.at[index, "percent_vaccinated"] = percent_vaccinated

In [9]:
# Check the data types
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     int64
 4   administered_per_100K             51 non-null     int64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   percent_vaccinated                51 non-null     object
dtypes: int64(9), object(1)
memory usage: 6.9+ KB

In [10]:
# Convert percent vaccinated into a float
state_info_df = state_info_df.astype({"percent_vaccinated": 'float64'})
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     int64
 4   administered_per_100K             51 non-null     int64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   percent_vaccinated                51 non-null     float64
dtypes: float64(1), int64(9)
memory usage: 6.9+ KB

In [11]:
# Export as json
state_info_df.to_json("data/state_data.json")

In [12]:
# Connect to AWS Database instance 
engine = create_engine(f'postgresql://uscovid:{password}@{endpoint}/us_covid_db')
connection = engine.connect()

In [13]:
# Add to Database and replace if the table already exists
state_info_df.to_sql('master_table', index=True, if_exists='replace', con=connection)

## NIH AWS Data / NYT

In [63]:
# Read NYT / NIH json 
nytimes_nih_covid_df = pd.read_json("data/daily_covid_stats_by_state_nyt.json", lines=True)

In [64]:
nyt_state_grouped = nytimes_nih_covid_df.groupby(['state', 'date'])
total_cases_by_date_df = pd.DataFrame(nyt_state_grouped["cases"].sum())

In [103]:
total_cases_by_date_df

                    cases
state   date
Alabama 2020-03-13      6
        2020-03-14     12
        2020-03-15     23
        2020-03-16     29
        2020-03-17     39
...                   ...
Wyoming 2021-01-21  50424
        2021-01-22  50583
        2021-01-23  50583
        2021-01-24  50898
        2021-01-25  51062

[18109 rows x 1 columns]

In [65]:
total_cases_by_date_df.to_json("data/total_cases_by_state_and_date.json")

In [ ]:
# Add data to database 
nytimes_nih_covid_df.to_sql('nyt_table', index=False, if_exists='replace', con=connection)

In [89]:
latest_nyt_stateData = nytimes_nih_covid_df[nytimes_nih_covid_df['date'] == '2021-01-25']

In [90]:
latest_data_merged = pd.merge(state_info_df, latest_nyt_stateData, on="state")

In [91]:
latest_data_merged = latest_data_merged[['state', 'population', 'cases', 'deaths', 'total_distributed', 'total_administered', 'percent_vaccinated' ]]

In [92]:
latest_data_merged["percent_infected_to_date"] = ""

In [93]:
latest_data_merged

,state,population,cases,deaths,total_distributed,total_administered,percent_vaccinated,percent_infected_to_date
0,Alabama,4903185,443009,6662,493125,165919,3.38,
1,Alaska,731545,53061,250,154325,71907,9.83,
2,Arizona,7278717,728231,12239,797550,303899,4.18,
3,Arkansas,3017804,284702,4650,361550,173312,5.74,
4,California,39512223,3212488,37499,4379500,1633875,4.14,
5,Colorado,5758736,389227,5602,657250,353194,6.13,
6,Connecticut,3565287,243632,6911,435075,264707,7.42,
7,Delaware,973764,75191,1049,106600,49369,5.07,
8,District of Columbia,705749,35505,879,75175,55108,7.81,
9,Florida,21477737,1658161,25445,2546050,1239975,5.77,
10,Georgia,10617423,847036,12890,1162275,453862,4.27,
11,Hawaii,1415872,25209,339,189675,79414,5.61,
12,Idaho,1787065,160182,1687,178175,73372,4.11,
13,Illinois,12671821,1107388,20744,1173325,570527,4.50,
14,Indiana,6732219,616310,9728,816025,387137,5.75,
15,Iowa,3155070,313907,4488,328600,158743,5.03,
16,Kansas,2913314,272220,3622,312000,130434,4.48,
17,Kentucky,4467673,351462,3730,450175,235143,5.26,
18,Louisiana,4648794,385942,8590,492800,279398,6.01,
19,Maine,1344212,37046,547,165175,80502,5.99,
20,Maryland,6045680,343353,6900,685325,271905,4.50,
21,Massachusetts,6892503,503688,14178,776400,353117,5.12,
22,Michigan,9986857,598449,15208,1059275,548844,5.50,
23,Minnesota,5639632,455851,6166,652350,259417,4.60,
24,Mississippi,2976149,265146,5777,334800,136691,4.59,
25,Missouri,6137428,483906,6968,621200,265382,4.32,
26,Montana,1068778,91905,1152,112125,60389,5.65,
27,Nebraska,1934408,187993,1972,238000,111841,5.78,
28,Nevada,3080156,272019,4032,278175,115991,3.77,
29,New Hampshire,1359711,62768,990,155150,80639,5.93,
30,New Jersey,8882190,666951,20972,923300,432220,4.87,
31,New Mexico,2096829,169696,3159,237725,152465,7.27,
32,New York,19453561,1347924,42090,2213975,1116441,5.74,
33,North Carolina,10488084,725176,8777,1157100,473282,4.51,
34,North Dakota,762062,96899,1436,82850,59245,7.77,
35,Ohio,11689100,868656,10768,1122300,487481,4.17,
36,Oklahoma,3956971,374853,3293,490500,267434,6.76,
37,Oregon,4217737,138587,1892,479325,216928,5.14,
38,Pennsylvania,12801989,813665,20664,1344375,605428,4.73,
39,Rhode Island,1059361,111754,2110,127450,59014,5.57,
40,South Carolina,5148714,421417,6552,443375,209631,4.07,
41,South Dakota,884659,107180,1705,99300,65377,7.39,
42,Tennessee,6829174,695935,8776,723825,375669,5.50,
43,Texas,28995881,2270391,35236,2754800,1544551,5.33,
44,Utah,3205958,337264,1599,337825,189578,5.91,
45,Vermont,623989,11165,171,78875,42835,6.86,
46,Virginia,8535519,478619,6081,992375,362092,4.24,
47,Washington,7614893,306489,4221,820875,373423,4.90,
48,West Virginia,1792147,115839,1899,231800,167548,9.35,
49,Wisconsin,5822434,582477,6203,577325,238758,4.10,
50,Wyoming,578759,51062,571,67450,29309,5.06,

In [94]:
# Calcuation for percent infected by state
for index, row in latest_data_merged.iterrows():
    population = row["population"]
    deaths = row["deaths"]
    infected = row["cases"]
    est_population_new = population - deaths 
    
    percent_infected = round((infected / est_population_new) * 100, 2)
    
    latest_data_merged.at[index, "percent_infected_to_date"] = percent_infected

In [95]:
latest_data_merged["est_percent_immune"] = ""

In [96]:
latest_data_merged

,state,population,cases,deaths,total_distributed,total_administered,percent_vaccinated,percent_infected_to_date,est_percent_immune
0,Alabama,4903185,443009,6662,493125,165919,3.38,9.05,
1,Alaska,731545,53061,250,154325,71907,9.83,7.26,
2,Arizona,7278717,728231,12239,797550,303899,4.18,10.02,
3,Arkansas,3017804,284702,4650,361550,173312,5.74,9.45,
4,California,39512223,3212488,37499,4379500,1633875,4.14,8.14,
5,Colorado,5758736,389227,5602,657250,353194,6.13,6.77,
6,Connecticut,3565287,243632,6911,435075,264707,7.42,6.85,
7,Delaware,973764,75191,1049,106600,49369,5.07,7.73,
8,District of Columbia,705749,35505,879,75175,55108,7.81,5.04,
9,Florida,21477737,1658161,25445,2546050,1239975,5.77,7.73,
10,Georgia,10617423,847036,12890,1162275,453862,4.27,7.99,
11,Hawaii,1415872,25209,339,189675,79414,5.61,1.78,
12,Idaho,1787065,160182,1687,178175,73372,4.11,8.97,
13,Illinois,12671821,1107388,20744,1173325,570527,4.50,8.75,
14,Indiana,6732219,616310,9728,816025,387137,5.75,9.17,
15,Iowa,3155070,313907,4488,328600,158743,5.03,9.96,
16,Kansas,2913314,272220,3622,312000,130434,4.48,9.36,
17,Kentucky,4467673,351462,3730,450175,235143,5.26,7.87,
18,Louisiana,4648794,385942,8590,492800,279398,6.01,8.32,
19,Maine,1344212,37046,547,165175,80502,5.99,2.76,
20,Maryland,6045680,343353,6900,685325,271905,4.50,5.69,
21,Massachusetts,6892503,503688,14178,776400,353117,5.12,7.32,
22,Michigan,9986857,598449,15208,1059275,548844,5.50,6,
23,Minnesota,5639632,455851,6166,652350,259417,4.60,8.09,
24,Mississippi,2976149,265146,5777,334800,136691,4.59,8.93,
25,Missouri,6137428,483906,6968,621200,265382,4.32,7.89,
26,Montana,1068778,91905,1152,112125,60389,5.65,8.61,
27,Nebraska,1934408,187993,1972,238000,111841,5.78,9.73,
28,Nevada,3080156,272019,4032,278175,115991,3.77,8.84,
29,New Hampshire,1359711,62768,990,155150,80639,5.93,4.62,
30,New Jersey,8882190,666951,20972,923300,432220,4.87,7.53,
31,New Mexico,2096829,169696,3159,237725,152465,7.27,8.11,
32,New York,19453561,1347924,42090,2213975,1116441,5.74,6.94,
33,North Carolina,10488084,725176,8777,1157100,473282,4.51,6.92,
34,North Dakota,762062,96899,1436,82850,59245,7.77,12.74,
35,Ohio,11689100,868656,10768,1122300,487481,4.17,7.44,
36,Oklahoma,3956971,374853,3293,490500,267434,6.76,9.48,
37,Oregon,4217737,138587,1892,479325,216928,5.14,3.29,
38,Pennsylvania,12801989,813665,20664,1344375,605428,4.73,6.37,
39,Rhode Island,1059361,111754,2110,127450,59014,5.57,10.57,
40,South Carolina,5148714,421417,6552,443375,209631,4.07,8.2,
41,South Dakota,884659,107180,1705,99300,65377,7.39,12.14,
42,Tennessee,6829174,695935,8776,723825,375669,5.50,10.2,
43,Texas,28995881,2270391,35236,2754800,1544551,5.33,7.84,
44,Utah,3205958,337264,1599,337825,189578,5.91,10.53,
45,Vermont,623989,11165,171,78875,42835,6.86,1.79,
46,Virginia,8535519,478619,6081,992375,362092,4.24,5.61,
47,Washington,7614893,306489,4221,820875,373423,4.90,4.03,
48,West Virginia,1792147,115839,1899,231800,167548,9.35,6.47,
49,Wisconsin,5822434,582477,6203,577325,238758,4.10,10.01,
50,Wyoming,578759,51062,571,67450,29309,5.06,8.83,

In [97]:
# Calcuation for percent infected by state
for index, row in latest_data_merged.iterrows():
    population = row["population"]
    infected = row["cases"]
    deaths = row["deaths"]
    vaccinated = row["total_administered"]
    
    est_total_immune = infected + vaccinated
    est_population = population - deaths
    
    percent_infected = round((est_total_immune / est_population) * 100, 2)
    
    latest_data_merged.at[index, "est_percent_immune"] = percent_infected

In [98]:
latest_data_merged

,state,population,cases,deaths,total_distributed,total_administered,percent_vaccinated,percent_infected_to_date,est_percent_immune
0,Alabama,4903185,443009,6662,493125,165919,3.38,9.05,12.44
1,Alaska,731545,53061,250,154325,71907,9.83,7.26,17.09
2,Arizona,7278717,728231,12239,797550,303899,4.18,10.02,14.2
3,Arkansas,3017804,284702,4650,361550,173312,5.74,9.45,15.2
4,California,39512223,3212488,37499,4379500,1633875,4.14,8.14,12.28
5,Colorado,5758736,389227,5602,657250,353194,6.13,6.77,12.9
6,Connecticut,3565287,243632,6911,435075,264707,7.42,6.85,14.29
7,Delaware,973764,75191,1049,106600,49369,5.07,7.73,12.81
8,District of Columbia,705749,35505,879,75175,55108,7.81,5.04,12.86
9,Florida,21477737,1658161,25445,2546050,1239975,5.77,7.73,13.51
10,Georgia,10617423,847036,12890,1162275,453862,4.27,7.99,12.27
11,Hawaii,1415872,25209,339,189675,79414,5.61,1.78,7.39
12,Idaho,1787065,160182,1687,178175,73372,4.11,8.97,13.08
13,Illinois,12671821,1107388,20744,1173325,570527,4.50,8.75,13.26
14,Indiana,6732219,616310,9728,816025,387137,5.75,9.17,14.93
15,Iowa,3155070,313907,4488,328600,158743,5.03,9.96,15
16,Kansas,2913314,272220,3622,312000,130434,4.48,9.36,13.84
17,Kentucky,4467673,351462,3730,450175,235143,5.26,7.87,13.14
18,Louisiana,4648794,385942,8590,492800,279398,6.01,8.32,14.34
19,Maine,1344212,37046,547,165175,80502,5.99,2.76,8.75
20,Maryland,6045680,343353,6900,685325,271905,4.50,5.69,10.19
21,Massachusetts,6892503,503688,14178,776400,353117,5.12,7.32,12.46
22,Michigan,9986857,598449,15208,1059275,548844,5.50,6,11.51
23,Minnesota,5639632,455851,6166,652350,259417,4.60,8.09,12.7
24,Mississippi,2976149,265146,5777,334800,136691,4.59,8.93,13.53
25,Missouri,6137428,483906,6968,621200,265382,4.32,7.89,12.22
26,Montana,1068778,91905,1152,112125,60389,5.65,8.61,14.26
27,Nebraska,1934408,187993,1972,238000,111841,5.78,9.73,15.52
28,Nevada,3080156,272019,4032,278175,115991,3.77,8.84,12.61
29,New Hampshire,1359711,62768,990,155150,80639,5.93,4.62,10.55
30,New Jersey,8882190,666951,20972,923300,432220,4.87,7.53,12.4
31,New Mexico,2096829,169696,3159,237725,152465,7.27,8.11,15.39
32,New York,19453561,1347924,42090,2213975,1116441,5.74,6.94,12.7
33,North Carolina,10488084,725176,8777,1157100,473282,4.51,6.92,11.44
34,North Dakota,762062,96899,1436,82850,59245,7.77,12.74,20.53
35,Ohio,11689100,868656,10768,1122300,487481,4.17,7.44,11.61
36,Oklahoma,3956971,374853,3293,490500,267434,6.76,9.48,16.25
37,Oregon,4217737,138587,1892,479325,216928,5.14,3.29,8.43
38,Pennsylvania,12801989,813665,20664,1344375,605428,4.73,6.37,11.1
39,Rhode Island,1059361,111754,2110,127450,59014,5.57,10.57,16.15
40,South Carolina,5148714,421417,6552,443375,209631,4.07,8.2,12.27
41,South Dakota,884659,107180,1705,99300,65377,7.39,12.14,19.54
42,Tennessee,6829174,695935,8776,723825,375669,5.50,10.2,15.71
43,Texas,28995881,2270391,35236,2754800,1544551,5.33,7.84,13.17
44,Utah,3205958,337264,1599,337825,189578,5.91,10.53,16.44
45,Vermont,623989,11165,171,78875,42835,6.86,1.79,8.66
46,Virginia,8535519,478619,6081,992375,362092,4.24,5.61,9.86
47,Washington,7614893,306489,4221,820875,373423,4.90,4.03,8.93
48,West Virginia,1792147,115839,1899,231800,167548,9.35,6.47,15.83
49,Wisconsin,5822434,582477,6203,577325,238758,4.10,10.01,14.12
50,Wyoming,578759,51062,571,67450,29309,5.06,8.83,13.9

In [99]:
latest_data_merged.to_sql('state_est_immune', index=False, if_exists='replace', con=connection)

In [100]:
latest_data_merged_json = latest_data_merged.set_index("state")

In [101]:
latest_data_merged_json

,population,cases,deaths,total_distributed,total_administered,percent_vaccinated,percent_infected_to_date,est_percent_immune
state,,,,,,,,
Alabama,4903185,443009,6662,493125,165919,3.38,9.05,12.44
Alaska,731545,53061,250,154325,71907,9.83,7.26,17.09
Arizona,7278717,728231,12239,797550,303899,4.18,10.02,14.2
Arkansas,3017804,284702,4650,361550,173312,5.74,9.45,15.2
California,39512223,3212488,37499,4379500,1633875,4.14,8.14,12.28
Colorado,5758736,389227,5602,657250,353194,6.13,6.77,12.9
Connecticut,3565287,243632,6911,435075,264707,7.42,6.85,14.29
Delaware,973764,75191,1049,106600,49369,5.07,7.73,12.81
District of Columbia,705749,35505,879,75175,55108,7.81,5.04,12.86
Florida,21477737,1658161,25445,2546050,1239975,5.77,7.73,13.51
Georgia,10617423,847036,12890,1162275,453862,4.27,7.99,12.27
Hawaii,1415872,25209,339,189675,79414,5.61,1.78,7.39
Idaho,1787065,160182,1687,178175,73372,4.11,8.97,13.08
Illinois,12671821,1107388,20744,1173325,570527,4.50,8.75,13.26
Indiana,6732219,616310,9728,816025,387137,5.75,9.17,14.93
Iowa,3155070,313907,4488,328600,158743,5.03,9.96,15
Kansas,2913314,272220,3622,312000,130434,4.48,9.36,13.84
Kentucky,4467673,351462,3730,450175,235143,5.26,7.87,13.14
Louisiana,4648794,385942,8590,492800,279398,6.01,8.32,14.34
Maine,1344212,37046,547,165175,80502,5.99,2.76,8.75
Maryland,6045680,343353,6900,685325,271905,4.50,5.69,10.19
Massachusetts,6892503,503688,14178,776400,353117,5.12,7.32,12.46
Michigan,9986857,598449,15208,1059275,548844,5.50,6,11.51
Minnesota,5639632,455851,6166,652350,259417,4.60,8.09,12.7
Mississippi,2976149,265146,5777,334800,136691,4.59,8.93,13.53
Missouri,6137428,483906,6968,621200,265382,4.32,7.89,12.22
Montana,1068778,91905,1152,112125,60389,5.65,8.61,14.26
Nebraska,1934408,187993,1972,238000,111841,5.78,9.73,15.52
Nevada,3080156,272019,4032,278175,115991,3.77,8.84,12.61
New Hampshire,1359711,62768,990,155150,80639,5.93,4.62,10.55
New Jersey,8882190,666951,20972,923300,432220,4.87,7.53,12.4
New Mexico,2096829,169696,3159,237725,152465,7.27,8.11,15.39
New York,19453561,1347924,42090,2213975,1116441,5.74,6.94,12.7
North Carolina,10488084,725176,8777,1157100,473282,4.51,6.92,11.44
North Dakota,762062,96899,1436,82850,59245,7.77,12.74,20.53
Ohio,11689100,868656,10768,1122300,487481,4.17,7.44,11.61
Oklahoma,3956971,374853,3293,490500,267434,6.76,9.48,16.25
Oregon,4217737,138587,1892,479325,216928,5.14,3.29,8.43
Pennsylvania,12801989,813665,20664,1344375,605428,4.73,6.37,11.1
Rhode Island,1059361,111754,2110,127450,59014,5.57,10.57,16.15
South Carolina,5148714,421417,6552,443375,209631,4.07,8.2,12.27
South Dakota,884659,107180,1705,99300,65377,7.39,12.14,19.54
Tennessee,6829174,695935,8776,723825,375669,5.50,10.2,15.71
Texas,28995881,2270391,35236,2754800,1544551,5.33,7.84,13.17
Utah,3205958,337264,1599,337825,189578,5.91,10.53,16.44
Vermont,623989,11165,171,78875,42835,6.86,1.79,8.66
Virginia,8535519,478619,6081,992375,362092,4.24,5.61,9.86
Washington,7614893,306489,4221,820875,373423,4.90,4.03,8.93
West Virginia,1792147,115839,1899,231800,167548,9.35,6.47,15.83
Wisconsin,5822434,582477,6203,577325,238758,4.10,10.01,14.12
Wyoming,578759,51062,571,67450,29309,5.06,8.83,13.9

In [102]:
latest_data_merged_json.to_json("data/latest_est_immune.json")