## State Population and Vaccination Data

In [1]:
# Import Pandas, Config Variables, and SQLalchemy
import pandas as pd
from config import endpoint, username, password
from sqlalchemy import create_engine

In [2]:
# Read CSVs for State Data
state_pop_df = pd.read_csv("../data/state_populations_cleaned.csv")
state_vacc_df = pd.read_csv("../data/state_covid_vaccinations_cleaned.csv")
state_latlons_df = pd.read_csv("../data/statelatlong.csv")

In [3]:
# State Populations
state_pop_df.head()

        state  population
0     Alabama     4903185
1      Alaska      731545
2     Arizona     7278717
3    Arkansas     3017804
4  California    39512223

In [4]:
# State Vaccinations
state_vacc_df.head()

,state,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alaska,271550,183831,37120.0,25129.0,126381,17276,57117,7808
1,Alabama,965550,612254,19692.0,12487.0,474065,9669,137032,2795
2,Arkansas,630700,472536,20899.0,15658.0,338611,11220,130637,4329
3,American Samoa,29450,15382,52883.0,27621.0,10062,18068,5308,9532
4,Arizona,1393575,1089155,19146.0,14964.0,840252,11544,244971,3366

In [5]:
state_latlons_df.head()

  State   Latitude   Longitude        City
0    AL  32.601011  -86.680736     Alabama
1    AK  61.302501 -158.775020      Alaska
2    AZ  34.168219 -111.930907     Arizona
3    AR  34.751928  -92.131378    Arkansas
4    CA  37.271875 -119.270415  California

In [6]:
state_latlons_df = state_latlons_df.rename(columns={"State": "Abb", "City": "state"})

In [7]:
state_latlons_df.head()

  Abb   Latitude   Longitude       state
0  AL  32.601011  -86.680736     Alabama
1  AK  61.302501 -158.775020      Alaska
2  AZ  34.168219 -111.930907     Arizona
3  AR  34.751928  -92.131378    Arkansas
4  CA  37.271875 -119.270415  California

In [8]:
# State Data Merged
state_merged_df = pd.merge(state_pop_df, state_vacc_df, how="inner", on="state")
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alabama,4903185,965550,612254,19692.0,12487.0,474065,9669,137032,2795
1,Alaska,731545,271550,183831,37120.0,25129.0,126381,17276,57117,7808
2,Arizona,7278717,1393575,1089155,19146.0,14964.0,840252,11544,244971,3366
3,Arkansas,3017804,630700,472536,20899.0,15658.0,338611,11220,130637,4329
4,California,39512223,8059325,5820388,20397.0,14731.0,4493220,11372,1287390,3258

In [9]:
state_merged_df = pd.merge(state_merged_df, state_latlons_df, how="left", on="state")

In [10]:
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
0,Alabama,4903185,965550,612254,19692.0,12487.0,474065,9669,137032,2795,AL,32.601011,-86.680736
1,Alaska,731545,271550,183831,37120.0,25129.0,126381,17276,57117,7808,AK,61.302501,-158.775020
2,Arizona,7278717,1393575,1089155,19146.0,14964.0,840252,11544,244971,3366,AZ,34.168219,-111.930907
3,Arkansas,3017804,630700,472536,20899.0,15658.0,338611,11220,130637,4329,AR,34.751928,-92.131378
4,California,39512223,8059325,5820388,20397.0,14731.0,4493220,11372,1287390,3258,CA,37.271875,-119.270415

In [11]:
# Set State as the Index
state_info_df = state_merged_df.set_index("state") 
state_info_df.head()

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
state,,,,,,,,,,,,
Alabama,4903185,965550,612254,19692.0,12487.0,474065,9669,137032,2795,AL,32.601011,-86.680736
Alaska,731545,271550,183831,37120.0,25129.0,126381,17276,57117,7808,AK,61.302501,-158.775020
Arizona,7278717,1393575,1089155,19146.0,14964.0,840252,11544,244971,3366,AZ,34.168219,-111.930907
Arkansas,3017804,630700,472536,20899.0,15658.0,338611,11220,130637,4329,AR,34.751928,-92.131378
California,39512223,8059325,5820388,20397.0,14731.0,4493220,11372,1287390,3258,CA,37.271875,-119.270415

In [12]:
# Add Empty Column for New Calculation
state_info_df["percent_vaccinated"] = ""
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,965550,612254,19692.0,12487.0,474065,9669,137032,2795,AL,32.601011,-86.680736,
Alaska,731545,271550,183831,37120.0,25129.0,126381,17276,57117,7808,AK,61.302501,-158.775020,
Arizona,7278717,1393575,1089155,19146.0,14964.0,840252,11544,244971,3366,AZ,34.168219,-111.930907,
Arkansas,3017804,630700,472536,20899.0,15658.0,338611,11220,130637,4329,AR,34.751928,-92.131378,
California,39512223,8059325,5820388,20397.0,14731.0,4493220,11372,1287390,3258,CA,37.271875,-119.270415,
Colorado,5758736,1210475,926807,21020.0,16094.0,631243,10961,290991,5053,CO,38.997934,-105.550567,
Connecticut,3565287,854725,674704,23974.0,18924.0,473106,13270,191978,5385,CT,41.518784,-72.757507,
Delaware,973764,188075,146437,19314.0,15038.0,114564,11765,31095,3193,DE,39.145251,-75.418921,
District of Columbia,705749,193900,121313,27474.0,17189.0,84740,12007,36388,5156,DC,38.899349,-77.014567,
Florida,21477737,4514300,3467856,21019.0,16146.0,2366552,11019,1082096,5038,FL,27.975728,-83.833017,

In [13]:
# Calcuation for percent vaccinated by state
for index, row in state_info_df.iterrows():
    population = row["population"]
    vaccinated = row["total_administered"]
    percent_vaccinated = round((vaccinated / population) * 100, 2)
    
    state_info_df.at[index, "percent_vaccinated"] = percent_vaccinated

In [14]:
# Check the data types
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     float64
 4   administered_per_100K             51 non-null     float64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     object
dtypes: float64(4), int64(7), object(2)
memory usage: 8.1+ KB

In [15]:
# Convert percent vaccinated into a float
state_info_df = state_info_df.astype({"percent_vaccinated": 'float64'})
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     float64
 4   administered_per_100K             51 non-null     float64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     float64
dtypes: float64(5), int64(7), object(1)
memory usage: 8.1+ KB

In [16]:
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,965550,612254,19692.0,12487.0,474065,9669,137032,2795,AL,32.601011,-86.680736,12.49
Alaska,731545,271550,183831,37120.0,25129.0,126381,17276,57117,7808,AK,61.302501,-158.775020,25.13
Arizona,7278717,1393575,1089155,19146.0,14964.0,840252,11544,244971,3366,AZ,34.168219,-111.930907,14.96
Arkansas,3017804,630700,472536,20899.0,15658.0,338611,11220,130637,4329,AR,34.751928,-92.131378,15.66
California,39512223,8059325,5820388,20397.0,14731.0,4493220,11372,1287390,3258,CA,37.271875,-119.270415,14.73
Colorado,5758736,1210475,926807,21020.0,16094.0,631243,10961,290991,5053,CO,38.997934,-105.550567,16.09
Connecticut,3565287,854725,674704,23974.0,18924.0,473106,13270,191978,5385,CT,41.518784,-72.757507,18.92
Delaware,973764,188075,146437,19314.0,15038.0,114564,11765,31095,3193,DE,39.145251,-75.418921,15.04
District of Columbia,705749,193900,121313,27474.0,17189.0,84740,12007,36388,5156,DC,38.899349,-77.014567,17.19
Florida,21477737,4514300,3467856,21019.0,16146.0,2366552,11019,1082096,5038,FL,27.975728,-83.833017,16.15

## NIH AWS Data / NYT

### Set up State Master DF

In [17]:
# Read NYT / NIH json 
nytimes_nih_covid_df = pd.read_json("../data/daily_covid_stats_by_state_nyt.json", lines=True)

In [18]:
# Get Data for Most Recent Provided Date
most_recent_date = "2021-02-14"
latest_nyt_stateData = nytimes_nih_covid_df[nytimes_nih_covid_df['date'] == f'{most_recent_date}']

In [19]:
latest_nyt_stateData.head(10)

            date                 state  fips    cases  deaths
19154 2021-02-14               Alabama     1   480931    9242
19155 2021-02-14                Alaska     2    56008     271
19156 2021-02-14               Arizona     4   797537   14978
19157 2021-02-14              Arkansas     5   313028    5265
19158 2021-02-14            California     6  3484984   47055
19159 2021-02-14              Colorado     8   415857    5921
19160 2021-02-14           Connecticut     9   267337    7381
19161 2021-02-14              Delaware    10    83003    1283
19162 2021-02-14  District of Columbia    11    38918     979
19163 2021-02-14               Florida    12  1827365   28778

In [20]:
import datetime as dt

for index, row in nytimes_nih_covid_df.iterrows():
    date = row["date"].strftime('%Y-%m-%d')
    nytimes_nih_covid_df.at[index, "date"] = date

In [21]:
nytimes_nih_covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19209 entries, 0 to 19208
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    19209 non-null  object
 1   state   19209 non-null  object
 2   fips    19209 non-null  int64
 3   cases   19209 non-null  int64
 4   deaths  19209 non-null  int64
dtypes: int64(3), object(2)
memory usage: 750.5+ KB

In [22]:
# Merge with State Info DF that contains population and vaccinations
latest_data_merged = pd.merge(state_info_df, latest_nyt_stateData, on="state")
latest_data_merged.head(10)

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated,date,fips,cases,deaths
0,Alabama,4903185,965550,612254,19692.0,12487.0,474065,9669,137032,2795,AL,32.601011,-86.680736,12.49,2021-02-14,1,480931,9242
1,Alaska,731545,271550,183831,37120.0,25129.0,126381,17276,57117,7808,AK,61.302501,-158.775020,25.13,2021-02-14,2,56008,271
2,Arizona,7278717,1393575,1089155,19146.0,14964.0,840252,11544,244971,3366,AZ,34.168219,-111.930907,14.96,2021-02-14,4,797537,14978
3,Arkansas,3017804,630700,472536,20899.0,15658.0,338611,11220,130637,4329,AR,34.751928,-92.131378,15.66,2021-02-14,5,313028,5265
4,California,39512223,8059325,5820388,20397.0,14731.0,4493220,11372,1287390,3258,CA,37.271875,-119.270415,14.73,2021-02-14,6,3484984,47055
5,Colorado,5758736,1210475,926807,21020.0,16094.0,631243,10961,290991,5053,CO,38.997934,-105.550567,16.09,2021-02-14,8,415857,5921
6,Connecticut,3565287,854725,674704,23974.0,18924.0,473106,13270,191978,5385,CT,41.518784,-72.757507,18.92,2021-02-14,9,267337,7381
7,Delaware,973764,188075,146437,19314.0,15038.0,114564,11765,31095,3193,DE,39.145251,-75.418921,15.04,2021-02-14,10,83003,1283
8,District of Columbia,705749,193900,121313,27474.0,17189.0,84740,12007,36388,5156,DC,38.899349,-77.014567,17.19,2021-02-14,11,38918,979
9,Florida,21477737,4514300,3467856,21019.0,16146.0,2366552,11019,1082096,5038,FL,27.975728,-83.833017,16.15,2021-02-14,12,1827365,28778

In [23]:
# Create a Master Dataframe to start working with
state_master_df = latest_data_merged[['state', 'Abb', 'date', 'population', 'Latitude', 'Longitude', 'cases', 'deaths', 'total_distributed', 'total_administered', 'percent_vaccinated' ]]
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated
0,Alabama,AL,2021-02-14,4903185,32.601011,-86.680736,480931,9242,965550,612254,12.49
1,Alaska,AK,2021-02-14,731545,61.302501,-158.775020,56008,271,271550,183831,25.13
2,Arizona,AZ,2021-02-14,7278717,34.168219,-111.930907,797537,14978,1393575,1089155,14.96
3,Arkansas,AR,2021-02-14,3017804,34.751928,-92.131378,313028,5265,630700,472536,15.66
4,California,CA,2021-02-14,39512223,37.271875,-119.270415,3484984,47055,8059325,5820388,14.73
5,Colorado,CO,2021-02-14,5758736,38.997934,-105.550567,415857,5921,1210475,926807,16.09
6,Connecticut,CT,2021-02-14,3565287,41.518784,-72.757507,267337,7381,854725,674704,18.92
7,Delaware,DE,2021-02-14,973764,39.145251,-75.418921,83003,1283,188075,146437,15.04
8,District of Columbia,DC,2021-02-14,705749,38.899349,-77.014567,38918,979,193900,121313,17.19
9,Florida,FL,2021-02-14,21477737,27.975728,-83.833017,1827365,28778,4514300,3467856,16.15

In [24]:
# Create empty column to calculate estimated percent infected to date
state_master_df["est_percent_infected_to_date"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-02-14,4903185,32.601011,-86.680736,480931,9242,965550,612254,12.49,
1,Alaska,AK,2021-02-14,731545,61.302501,-158.775020,56008,271,271550,183831,25.13,
2,Arizona,AZ,2021-02-14,7278717,34.168219,-111.930907,797537,14978,1393575,1089155,14.96,
3,Arkansas,AR,2021-02-14,3017804,34.751928,-92.131378,313028,5265,630700,472536,15.66,
4,California,CA,2021-02-14,39512223,37.271875,-119.270415,3484984,47055,8059325,5820388,14.73,
5,Colorado,CO,2021-02-14,5758736,38.997934,-105.550567,415857,5921,1210475,926807,16.09,
6,Connecticut,CT,2021-02-14,3565287,41.518784,-72.757507,267337,7381,854725,674704,18.92,
7,Delaware,DE,2021-02-14,973764,39.145251,-75.418921,83003,1283,188075,146437,15.04,
8,District of Columbia,DC,2021-02-14,705749,38.899349,-77.014567,38918,979,193900,121313,17.19,
9,Florida,FL,2021-02-14,21477737,27.975728,-83.833017,1827365,28778,4514300,3467856,16.15,

In [25]:
# Calcuation for est percent infected by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    state_master_df.at[index, "est_percent_infected_to_date"] = percent_infected

In [26]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-02-14,4903185,32.601011,-86.680736,480931,9242,965550,612254,12.49,9.83
1,Alaska,AK,2021-02-14,731545,61.302501,-158.775020,56008,271,271550,183831,25.13,7.66
2,Arizona,AZ,2021-02-14,7278717,34.168219,-111.930907,797537,14978,1393575,1089155,14.96,10.98
3,Arkansas,AR,2021-02-14,3017804,34.751928,-92.131378,313028,5265,630700,472536,15.66,10.39
4,California,CA,2021-02-14,39512223,37.271875,-119.270415,3484984,47055,8059325,5820388,14.73,8.83
5,Colorado,CO,2021-02-14,5758736,38.997934,-105.550567,415857,5921,1210475,926807,16.09,7.23
6,Connecticut,CT,2021-02-14,3565287,41.518784,-72.757507,267337,7381,854725,674704,18.92,7.51
7,Delaware,DE,2021-02-14,973764,39.145251,-75.418921,83003,1283,188075,146437,15.04,8.54
8,District of Columbia,DC,2021-02-14,705749,38.899349,-77.014567,38918,979,193900,121313,17.19,5.52
9,Florida,FL,2021-02-14,21477737,27.975728,-83.833017,1827365,28778,4514300,3467856,16.15,8.52

In [27]:
# Add Estimated Percent Immune Column
state_master_df["est_percent_immune"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-02-14,4903185,32.601011,-86.680736,480931,9242,965550,612254,12.49,9.83,
1,Alaska,AK,2021-02-14,731545,61.302501,-158.775020,56008,271,271550,183831,25.13,7.66,
2,Arizona,AZ,2021-02-14,7278717,34.168219,-111.930907,797537,14978,1393575,1089155,14.96,10.98,
3,Arkansas,AR,2021-02-14,3017804,34.751928,-92.131378,313028,5265,630700,472536,15.66,10.39,
4,California,CA,2021-02-14,39512223,37.271875,-119.270415,3484984,47055,8059325,5820388,14.73,8.83,
5,Colorado,CO,2021-02-14,5758736,38.997934,-105.550567,415857,5921,1210475,926807,16.09,7.23,
6,Connecticut,CT,2021-02-14,3565287,41.518784,-72.757507,267337,7381,854725,674704,18.92,7.51,
7,Delaware,DE,2021-02-14,973764,39.145251,-75.418921,83003,1283,188075,146437,15.04,8.54,
8,District of Columbia,DC,2021-02-14,705749,38.899349,-77.014567,38918,979,193900,121313,17.19,5.52,
9,Florida,FL,2021-02-14,21477737,27.975728,-83.833017,1827365,28778,4514300,3467856,16.15,8.52,

In [28]:
# Calcuation for estimated immune by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    infected = row["cases"]
    deaths = row["deaths"]
    vaccinated = row["total_administered"]
    
    est_total_immune = infected + vaccinated
    est_population = population - deaths
    
    percent_immune = round((est_total_immune / est_population) * 100, 2)
    
    state_master_df.at[index, "est_percent_immune"] = percent_immune

In [29]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-02-14,4903185,32.601011,-86.680736,480931,9242,965550,612254,12.49,9.83,22.34
1,Alaska,AK,2021-02-14,731545,61.302501,-158.775020,56008,271,271550,183831,25.13,7.66,32.8
2,Arizona,AZ,2021-02-14,7278717,34.168219,-111.930907,797537,14978,1393575,1089155,14.96,10.98,25.97
3,Arkansas,AR,2021-02-14,3017804,34.751928,-92.131378,313028,5265,630700,472536,15.66,10.39,26.08
4,California,CA,2021-02-14,39512223,37.271875,-119.270415,3484984,47055,8059325,5820388,14.73,8.83,23.58
5,Colorado,CO,2021-02-14,5758736,38.997934,-105.550567,415857,5921,1210475,926807,16.09,7.23,23.34
6,Connecticut,CT,2021-02-14,3565287,41.518784,-72.757507,267337,7381,854725,674704,18.92,7.51,26.48
7,Delaware,DE,2021-02-14,973764,39.145251,-75.418921,83003,1283,188075,146437,15.04,8.54,23.59
8,District of Columbia,DC,2021-02-14,705749,38.899349,-77.014567,38918,979,193900,121313,17.19,5.52,22.74
9,Florida,FL,2021-02-14,21477737,27.975728,-83.833017,1827365,28778,4514300,3467856,16.15,8.52,24.69

### Set up Daily Cases DF

In [30]:
nyt_avg_daily_cases = nytimes_nih_covid_df
nyt_avg_daily_cases.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [31]:
nyt_avg_daily_cases = nyt_avg_daily_cases.groupby("date").sum()
nyt_avg_daily_cases.head()

            fips  cases  deaths
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [32]:
nyt_avg_daily_cases["daily_new_cases"] = ""

In [33]:
nyt_avg_daily_cases.head()

            fips  cases  deaths daily_new_cases
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [34]:
previous_day = 0

In [35]:
for index, row in nyt_avg_daily_cases.iterrows():
    new_cases = row["cases"] - previous_day
    previous_day = row["cases"]
    nyt_avg_daily_cases.at[index, "daily_new_cases"] = new_cases

In [36]:
nyt_avg_daily_cases["date"] = ""

In [37]:
nyt_avg_daily_cases

            fips     cases  deaths daily_new_cases date
date
2020-01-21    53         1       0               1
2020-01-22    53         1       0               0
2020-01-23    53         1       0               0
2020-01-24    70         2       0               1
2020-01-25    76         3       0               1
...          ...       ...     ...             ...  ...
2021-02-10  1762  27329382  471360           94917
2021-02-11  1762  27434981  475238          105599
2021-02-12  1762  27534539  480701           99558
2021-02-13  1762  27619266  484074           84727
2021-02-14  1762  27683116  485154           63850

[391 rows x 5 columns]

In [38]:
for index, row in nyt_avg_daily_cases.iterrows():
    date = index
    nyt_avg_daily_cases.at[index, "date"] = date

In [39]:
nyt_avg_daily_cases.reset_index(drop=True, inplace=True)

In [40]:
nyt_avg_daily_cases.head(10)

   fips  cases  deaths daily_new_cases        date
0    53      1       0               1  2020-01-21
1    53      1       0               0  2020-01-22
2    53      1       0               0  2020-01-23
3    70      2       0               1  2020-01-24
4    76      3       0               1  2020-01-25
5    80      5       0               2  2020-01-26
6    80      5       0               0  2020-01-27
7    80      5       0               0  2020-01-28
8    80      5       0               0  2020-01-29
9    80      6       0               1  2020-01-30

### Set Up NYT Totals Master DF

In [41]:
nyt_master = pd.merge(nytimes_nih_covid_df, state_pop_df, how ="inner", on="state")
nyt_master.head()

         date       state  fips  cases  deaths  population
0  2020-01-21  Washington    53      1       0     7614893
1  2020-01-22  Washington    53      1       0     7614893
2  2020-01-23  Washington    53      1       0     7614893
3  2020-01-24  Washington    53      1       0     7614893
4  2020-01-25  Washington    53      1       0     7614893

In [42]:
nyt_master["est_percent_infected"] = ""
nyt_master.head()

,date,state,fips,cases,deaths,population,est_percent_infected
0,2020-01-21,Washington,53,1,0,7614893,
1,2020-01-22,Washington,53,1,0,7614893,
2,2020-01-23,Washington,53,1,0,7614893,
3,2020-01-24,Washington,53,1,0,7614893,
4,2020-01-25,Washington,53,1,0,7614893,

In [43]:
# Calcuation for est percent infected by state
for index, row in nyt_master.iterrows():
    population = int(row["population"])
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    if infected == 0:
        percent_infected = 0
    else: 
        percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    nyt_master.at[index, "est_percent_infected"] = percent_infected

In [44]:
nyt_master.head()

,date,state,fips,cases,deaths,population,est_percent_infected
0,2020-01-21,Washington,53,1,0,7614893,0
1,2020-01-22,Washington,53,1,0,7614893,0
2,2020-01-23,Washington,53,1,0,7614893,0
3,2020-01-24,Washington,53,1,0,7614893,0
4,2020-01-25,Washington,53,1,0,7614893,0

## JSON Exports

In [45]:
# Master DF to JSON
state_master_df.to_json("../data/state-master-data.json", orient="records")

In [46]:
# NYT Master to JSON 
nyt_master.to_json("../data/nyt-master.json", orient="records")

In [47]:
nyt_avg_daily_cases.to_json("../data/daily_new_cases.json", orient="records")

### CSV Exports

In [48]:
state_master_df.to_csv("../data/state-master-data.csv")

## Amazon RDS Updates

In [49]:
# Connect to AWS Database instance 
engine = create_engine(f'postgresql://uscovid:{password}@{endpoint}/us_covid_db')
connection = engine.connect()

In [50]:
# 50 States & D.C. Data
state_master_df.to_sql('master_table', index=False, if_exists='replace', con=connection)

In [51]:
# Daily Cases Data
nyt_avg_daily_cases.to_sql("daily_new_cases", index=False, if_exists='replace', con=connection)

In [ ]:
# Raw NTY Data
nytimes_nih_covid_df.to_sql('nyt_table', index=True, if_exists='replace', con=connection)