## State Population and Vaccination Data

In [1]:
# Import Pandas, Config Variables, and SQLalchemy
import pandas as pd
from config import endpoint, username, password
from sqlalchemy import create_engine

In [2]:
# Read CSVs for State Data
state_pop_df = pd.read_csv("../data/state_populations_cleaned.csv")
state_vacc_df = pd.read_csv("../data/state_covid_vaccinations_cleaned.csv")
state_latlons_df = pd.read_csv("../data/statelatlong.csv")

In [3]:
# State Populations
state_pop_df.head()

        state  population
0     Alabama     4903185
1      Alaska      731545
2     Arizona     7278717
3    Arkansas     3017804
4  California    39512223

In [4]:
# State Vaccinations
state_vacc_df.head()

,state,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alaska,270250,162273,36942.0,22182.0,116001,15857,46006,6289
1,Alabama,911875,543237,18598.0,11079.0,431259,8795,111036,2265
2,Arkansas,593775,430803,19676.0,14275.0,316972,10503,110751,3670
3,American Samoa,29450,13513,52883.0,24265.0,9822,17637,3685,6617
4,Arizona,1391475,941575,19117.0,12936.0,747599,10271,192542,2645

In [5]:
state_latlons_df.head()

  State   Latitude   Longitude        City
0    AL  32.601011  -86.680736     Alabama
1    AK  61.302501 -158.775020      Alaska
2    AZ  34.168219 -111.930907     Arizona
3    AR  34.751928  -92.131378    Arkansas
4    CA  37.271875 -119.270415  California

In [6]:
state_latlons_df = state_latlons_df.rename(columns={"State": "Abb", "City": "state"})

In [7]:
state_latlons_df.head()

  Abb   Latitude   Longitude       state
0  AL  32.601011  -86.680736     Alabama
1  AK  61.302501 -158.775020      Alaska
2  AZ  34.168219 -111.930907     Arizona
3  AR  34.751928  -92.131378    Arkansas
4  CA  37.271875 -119.270415  California

In [8]:
# State Data Merged
state_merged_df = pd.merge(state_pop_df, state_vacc_df, how="inner", on="state")
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alabama,4903185,911875,543237,18598.0,11079.0,431259,8795,111036,2265
1,Alaska,731545,270250,162273,36942.0,22182.0,116001,15857,46006,6289
2,Arizona,7278717,1391475,941575,19117.0,12936.0,747599,10271,192542,2645
3,Arkansas,3017804,593775,430803,19676.0,14275.0,316972,10503,110751,3670
4,California,39512223,7822300,5134864,19797.0,12996.0,4108216,10397,990128,2506

In [9]:
state_merged_df = pd.merge(state_merged_df, state_latlons_df, how="left", on="state")

In [10]:
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
0,Alabama,4903185,911875,543237,18598.0,11079.0,431259,8795,111036,2265,AL,32.601011,-86.680736
1,Alaska,731545,270250,162273,36942.0,22182.0,116001,15857,46006,6289,AK,61.302501,-158.775020
2,Arizona,7278717,1391475,941575,19117.0,12936.0,747599,10271,192542,2645,AZ,34.168219,-111.930907
3,Arkansas,3017804,593775,430803,19676.0,14275.0,316972,10503,110751,3670,AR,34.751928,-92.131378
4,California,39512223,7822300,5134864,19797.0,12996.0,4108216,10397,990128,2506,CA,37.271875,-119.270415

In [11]:
# Set State as the Index
state_info_df = state_merged_df.set_index("state") 
state_info_df.head()

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
state,,,,,,,,,,,,
Alabama,4903185,911875,543237,18598.0,11079.0,431259,8795,111036,2265,AL,32.601011,-86.680736
Alaska,731545,270250,162273,36942.0,22182.0,116001,15857,46006,6289,AK,61.302501,-158.775020
Arizona,7278717,1391475,941575,19117.0,12936.0,747599,10271,192542,2645,AZ,34.168219,-111.930907
Arkansas,3017804,593775,430803,19676.0,14275.0,316972,10503,110751,3670,AR,34.751928,-92.131378
California,39512223,7822300,5134864,19797.0,12996.0,4108216,10397,990128,2506,CA,37.271875,-119.270415

In [12]:
# Add Empty Column for New Calculation
state_info_df["percent_vaccinated"] = ""
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,911875,543237,18598.0,11079.0,431259,8795,111036,2265,AL,32.601011,-86.680736,
Alaska,731545,270250,162273,36942.0,22182.0,116001,15857,46006,6289,AK,61.302501,-158.775020,
Arizona,7278717,1391475,941575,19117.0,12936.0,747599,10271,192542,2645,AZ,34.168219,-111.930907,
Arkansas,3017804,593775,430803,19676.0,14275.0,316972,10503,110751,3670,AR,34.751928,-92.131378,
California,39512223,7822300,5134864,19797.0,12996.0,4108216,10397,990128,2506,CA,37.271875,-119.270415,
Colorado,5758736,1162775,815108,20191.0,14154.0,570979,9915,239804,4164,CO,38.997934,-105.550567,
Connecticut,3565287,812325,600249,22784.0,16836.0,437058,12259,154639,4337,CT,41.518784,-72.757507,
Delaware,973764,182225,133370,18713.0,13696.0,105760,10861,26864,2759,DE,39.145251,-75.418921,
District of Columbia,705749,193600,111720,27432.0,15830.0,79776,11304,31786,4504,DC,38.899349,-77.014567,
Florida,21477737,4318675,2957730,20108.0,13771.0,2118750,9865,823514,3834,FL,27.975728,-83.833017,

In [13]:
# Calcuation for percent vaccinated by state
for index, row in state_info_df.iterrows():
    population = row["population"]
    vaccinated = row["total_administered"]
    percent_vaccinated = round((vaccinated / population) * 100, 2)
    
    state_info_df.at[index, "percent_vaccinated"] = percent_vaccinated

In [14]:
# Check the data types
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     float64
 4   administered_per_100K             51 non-null     float64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     object
dtypes: float64(4), int64(7), object(2)
memory usage: 8.1+ KB

In [15]:
# Convert percent vaccinated into a float
state_info_df = state_info_df.astype({"percent_vaccinated": 'float64'})
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     float64
 4   administered_per_100K             51 non-null     float64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     float64
dtypes: float64(5), int64(7), object(1)
memory usage: 8.1+ KB

In [16]:
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,911875,543237,18598.0,11079.0,431259,8795,111036,2265,AL,32.601011,-86.680736,11.08
Alaska,731545,270250,162273,36942.0,22182.0,116001,15857,46006,6289,AK,61.302501,-158.775020,22.18
Arizona,7278717,1391475,941575,19117.0,12936.0,747599,10271,192542,2645,AZ,34.168219,-111.930907,12.94
Arkansas,3017804,593775,430803,19676.0,14275.0,316972,10503,110751,3670,AR,34.751928,-92.131378,14.28
California,39512223,7822300,5134864,19797.0,12996.0,4108216,10397,990128,2506,CA,37.271875,-119.270415,13.00
Colorado,5758736,1162775,815108,20191.0,14154.0,570979,9915,239804,4164,CO,38.997934,-105.550567,14.15
Connecticut,3565287,812325,600249,22784.0,16836.0,437058,12259,154639,4337,CT,41.518784,-72.757507,16.84
Delaware,973764,182225,133370,18713.0,13696.0,105760,10861,26864,2759,DE,39.145251,-75.418921,13.70
District of Columbia,705749,193600,111720,27432.0,15830.0,79776,11304,31786,4504,DC,38.899349,-77.014567,15.83
Florida,21477737,4318675,2957730,20108.0,13771.0,2118750,9865,823514,3834,FL,27.975728,-83.833017,13.77

## NIH AWS Data / NYT

### Set up State Master DF

In [17]:
# Read NYT / NIH json 
nytimes_nih_covid_df = pd.read_json("../data/daily_covid_stats_by_state_nyt.json", lines=True)

In [18]:
# Get Data for Most Recent Provided Date
most_recent_date = "2021-02-10"
latest_nyt_stateData = nytimes_nih_covid_df[nytimes_nih_covid_df['date'] == f'{most_recent_date}']

In [19]:
latest_nyt_stateData.head(10)

            date                 state  fips    cases  deaths
18934 2021-02-10               Alabama     1   476067    8888
18935 2021-02-10                Alaska     2    55701     269
18936 2021-02-10               Arizona     4   790271   14507
18937 2021-02-10              Arkansas     5   309940    5174
18938 2021-02-10            California     6  3449774   45436
18939 2021-02-10              Colorado     8   410384    5868
18940 2021-02-10           Connecticut     9   265496    7326
18941 2021-02-10              Delaware    10    81461    1245
18942 2021-02-10  District of Columbia    11    38348     965
18943 2021-02-10               Florida    12  1798272   28207

In [20]:
# Merge with State Info DF that contains population and vaccinations
latest_data_merged = pd.merge(state_info_df, latest_nyt_stateData, on="state")
latest_data_merged.head(10)

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated,date,fips,cases,deaths
0,Alabama,4903185,911875,543237,18598.0,11079.0,431259,8795,111036,2265,AL,32.601011,-86.680736,11.08,2021-02-10,1,476067,8888
1,Alaska,731545,270250,162273,36942.0,22182.0,116001,15857,46006,6289,AK,61.302501,-158.775020,22.18,2021-02-10,2,55701,269
2,Arizona,7278717,1391475,941575,19117.0,12936.0,747599,10271,192542,2645,AZ,34.168219,-111.930907,12.94,2021-02-10,4,790271,14507
3,Arkansas,3017804,593775,430803,19676.0,14275.0,316972,10503,110751,3670,AR,34.751928,-92.131378,14.28,2021-02-10,5,309940,5174
4,California,39512223,7822300,5134864,19797.0,12996.0,4108216,10397,990128,2506,CA,37.271875,-119.270415,13.00,2021-02-10,6,3449774,45436
5,Colorado,5758736,1162775,815108,20191.0,14154.0,570979,9915,239804,4164,CO,38.997934,-105.550567,14.15,2021-02-10,8,410384,5868
6,Connecticut,3565287,812325,600249,22784.0,16836.0,437058,12259,154639,4337,CT,41.518784,-72.757507,16.84,2021-02-10,9,265496,7326
7,Delaware,973764,182225,133370,18713.0,13696.0,105760,10861,26864,2759,DE,39.145251,-75.418921,13.70,2021-02-10,10,81461,1245
8,District of Columbia,705749,193600,111720,27432.0,15830.0,79776,11304,31786,4504,DC,38.899349,-77.014567,15.83,2021-02-10,11,38348,965
9,Florida,21477737,4318675,2957730,20108.0,13771.0,2118750,9865,823514,3834,FL,27.975728,-83.833017,13.77,2021-02-10,12,1798272,28207

In [21]:
# Create a Master Dataframe to start working with
state_master_df = latest_data_merged[['state', 'Abb', 'date', 'population', 'Latitude', 'Longitude', 'cases', 'deaths', 'total_distributed', 'total_administered', 'percent_vaccinated' ]]
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated
0,Alabama,AL,2021-02-10,4903185,32.601011,-86.680736,476067,8888,911875,543237,11.08
1,Alaska,AK,2021-02-10,731545,61.302501,-158.775020,55701,269,270250,162273,22.18
2,Arizona,AZ,2021-02-10,7278717,34.168219,-111.930907,790271,14507,1391475,941575,12.94
3,Arkansas,AR,2021-02-10,3017804,34.751928,-92.131378,309940,5174,593775,430803,14.28
4,California,CA,2021-02-10,39512223,37.271875,-119.270415,3449774,45436,7822300,5134864,13.00
5,Colorado,CO,2021-02-10,5758736,38.997934,-105.550567,410384,5868,1162775,815108,14.15
6,Connecticut,CT,2021-02-10,3565287,41.518784,-72.757507,265496,7326,812325,600249,16.84
7,Delaware,DE,2021-02-10,973764,39.145251,-75.418921,81461,1245,182225,133370,13.70
8,District of Columbia,DC,2021-02-10,705749,38.899349,-77.014567,38348,965,193600,111720,15.83
9,Florida,FL,2021-02-10,21477737,27.975728,-83.833017,1798272,28207,4318675,2957730,13.77

In [22]:
# Create empty column to calculate estimated percent infected to date
state_master_df["est_percent_infected_to_date"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-02-10,4903185,32.601011,-86.680736,476067,8888,911875,543237,11.08,
1,Alaska,AK,2021-02-10,731545,61.302501,-158.775020,55701,269,270250,162273,22.18,
2,Arizona,AZ,2021-02-10,7278717,34.168219,-111.930907,790271,14507,1391475,941575,12.94,
3,Arkansas,AR,2021-02-10,3017804,34.751928,-92.131378,309940,5174,593775,430803,14.28,
4,California,CA,2021-02-10,39512223,37.271875,-119.270415,3449774,45436,7822300,5134864,13.00,
5,Colorado,CO,2021-02-10,5758736,38.997934,-105.550567,410384,5868,1162775,815108,14.15,
6,Connecticut,CT,2021-02-10,3565287,41.518784,-72.757507,265496,7326,812325,600249,16.84,
7,Delaware,DE,2021-02-10,973764,39.145251,-75.418921,81461,1245,182225,133370,13.70,
8,District of Columbia,DC,2021-02-10,705749,38.899349,-77.014567,38348,965,193600,111720,15.83,
9,Florida,FL,2021-02-10,21477737,27.975728,-83.833017,1798272,28207,4318675,2957730,13.77,

In [23]:
# Calcuation for est percent infected by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    state_master_df.at[index, "est_percent_infected_to_date"] = percent_infected

In [24]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-02-10,4903185,32.601011,-86.680736,476067,8888,911875,543237,11.08,9.73
1,Alaska,AK,2021-02-10,731545,61.302501,-158.775020,55701,269,270250,162273,22.18,7.62
2,Arizona,AZ,2021-02-10,7278717,34.168219,-111.930907,790271,14507,1391475,941575,12.94,10.88
3,Arkansas,AR,2021-02-10,3017804,34.751928,-92.131378,309940,5174,593775,430803,14.28,10.29
4,California,CA,2021-02-10,39512223,37.271875,-119.270415,3449774,45436,7822300,5134864,13.00,8.74
5,Colorado,CO,2021-02-10,5758736,38.997934,-105.550567,410384,5868,1162775,815108,14.15,7.13
6,Connecticut,CT,2021-02-10,3565287,41.518784,-72.757507,265496,7326,812325,600249,16.84,7.46
7,Delaware,DE,2021-02-10,973764,39.145251,-75.418921,81461,1245,182225,133370,13.70,8.38
8,District of Columbia,DC,2021-02-10,705749,38.899349,-77.014567,38348,965,193600,111720,15.83,5.44
9,Florida,FL,2021-02-10,21477737,27.975728,-83.833017,1798272,28207,4318675,2957730,13.77,8.38

In [25]:
# Add Estimated Percent Immune Column
state_master_df["est_percent_immune"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-02-10,4903185,32.601011,-86.680736,476067,8888,911875,543237,11.08,9.73,
1,Alaska,AK,2021-02-10,731545,61.302501,-158.775020,55701,269,270250,162273,22.18,7.62,
2,Arizona,AZ,2021-02-10,7278717,34.168219,-111.930907,790271,14507,1391475,941575,12.94,10.88,
3,Arkansas,AR,2021-02-10,3017804,34.751928,-92.131378,309940,5174,593775,430803,14.28,10.29,
4,California,CA,2021-02-10,39512223,37.271875,-119.270415,3449774,45436,7822300,5134864,13.00,8.74,
5,Colorado,CO,2021-02-10,5758736,38.997934,-105.550567,410384,5868,1162775,815108,14.15,7.13,
6,Connecticut,CT,2021-02-10,3565287,41.518784,-72.757507,265496,7326,812325,600249,16.84,7.46,
7,Delaware,DE,2021-02-10,973764,39.145251,-75.418921,81461,1245,182225,133370,13.70,8.38,
8,District of Columbia,DC,2021-02-10,705749,38.899349,-77.014567,38348,965,193600,111720,15.83,5.44,
9,Florida,FL,2021-02-10,21477737,27.975728,-83.833017,1798272,28207,4318675,2957730,13.77,8.38,

In [26]:
# Calcuation for estimated immune by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    infected = row["cases"]
    deaths = row["deaths"]
    vaccinated = row["total_administered"]
    
    est_total_immune = infected + vaccinated
    est_population = population - deaths
    
    percent_immune = round((est_total_immune / est_population) * 100, 2)
    
    state_master_df.at[index, "est_percent_immune"] = percent_immune

In [27]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-02-10,4903185,32.601011,-86.680736,476067,8888,911875,543237,11.08,9.73,20.83
1,Alaska,AK,2021-02-10,731545,61.302501,-158.775020,55701,269,270250,162273,22.18,7.62,29.81
2,Arizona,AZ,2021-02-10,7278717,34.168219,-111.930907,790271,14507,1391475,941575,12.94,10.88,23.84
3,Arkansas,AR,2021-02-10,3017804,34.751928,-92.131378,309940,5174,593775,430803,14.28,10.29,24.59
4,California,CA,2021-02-10,39512223,37.271875,-119.270415,3449774,45436,7822300,5134864,13.00,8.74,21.75
5,Colorado,CO,2021-02-10,5758736,38.997934,-105.550567,410384,5868,1162775,815108,14.15,7.13,21.3
6,Connecticut,CT,2021-02-10,3565287,41.518784,-72.757507,265496,7326,812325,600249,16.84,7.46,24.33
7,Delaware,DE,2021-02-10,973764,39.145251,-75.418921,81461,1245,182225,133370,13.70,8.38,22.09
8,District of Columbia,DC,2021-02-10,705749,38.899349,-77.014567,38348,965,193600,111720,15.83,5.44,21.29
9,Florida,FL,2021-02-10,21477737,27.975728,-83.833017,1798272,28207,4318675,2957730,13.77,8.38,22.17

### Set up Daily Cases DF

In [28]:
nyt_avg_daily_cases = nytimes_nih_covid_df
nyt_avg_daily_cases.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

In [29]:
nyt_avg_daily_cases = nyt_avg_daily_cases.groupby("date").sum()
nyt_avg_daily_cases.head()

            fips  cases  deaths
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [30]:
nyt_avg_daily_cases["daily_new_cases"] = ""

In [31]:
nyt_avg_daily_cases.head()

            fips  cases  deaths daily_new_cases
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [32]:
previous_day = 0

In [33]:
for index, row in nyt_avg_daily_cases.iterrows():
    new_cases = row["cases"] - previous_day
    previous_day = row["cases"]
    nyt_avg_daily_cases.at[index, "daily_new_cases"] = new_cases

In [34]:
nyt_avg_daily_cases["date"] = ""

In [35]:
nyt_avg_daily_cases

            fips     cases  deaths daily_new_cases date
date
2020-01-21    53         1       0               1
2020-01-22    53         1       0               0
2020-01-23    53         1       0               0
2020-01-24    70         2       0               1
2020-01-25    76         3       0               1
...          ...       ...     ...             ...  ...
2021-02-06  1762  26957001  462037          105027
2021-02-07  1762  27044335  463338           87334
2021-02-08  1762  27137074  464921           92739
2021-02-09  1762  27233562  468091           96488
2021-02-10  1762  27328455  471346           94893

[387 rows x 5 columns]

In [36]:
for index, row in nyt_avg_daily_cases.iterrows():
    date = index.date()
    nyt_avg_daily_cases.at[index, "date"] = date

In [37]:
nyt_avg_daily_cases.reset_index(drop=True, inplace=True)

In [38]:
nyt_avg_daily_cases.head(10)

   fips  cases  deaths daily_new_cases        date
0    53      1       0               1  2020-01-21
1    53      1       0               0  2020-01-22
2    53      1       0               0  2020-01-23
3    70      2       0               1  2020-01-24
4    76      3       0               1  2020-01-25
5    80      5       0               2  2020-01-26
6    80      5       0               0  2020-01-27
7    80      5       0               0  2020-01-28
8    80      5       0               0  2020-01-29
9    80      6       0               1  2020-01-30

### Set Up NYT Totals Master DF

In [39]:
nyt_master = pd.merge(nytimes_nih_covid_df, state_pop_df, how ="inner", on="state")
nyt_master.head()

        date       state  fips  cases  deaths  population
0 2020-01-21  Washington    53      1       0     7614893
1 2020-01-22  Washington    53      1       0     7614893
2 2020-01-23  Washington    53      1       0     7614893
3 2020-01-24  Washington    53      1       0     7614893
4 2020-01-25  Washington    53      1       0     7614893

In [40]:
nyt_master["est_percent_infected"] = ""
nyt_master.head()

        date       state  fips  cases  deaths  population est_percent_infected
0 2020-01-21  Washington    53      1       0     7614893
1 2020-01-22  Washington    53      1       0     7614893
2 2020-01-23  Washington    53      1       0     7614893
3 2020-01-24  Washington    53      1       0     7614893
4 2020-01-25  Washington    53      1       0     7614893

In [41]:
# Calcuation for est percent infected by state
for index, row in nyt_master.iterrows():
    population = int(row["population"])
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    if infected == 0:
        percent_infected = 0
    else: 
        percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    nyt_master.at[index, "est_percent_infected"] = percent_infected

In [42]:
nyt_master.head()

        date       state  fips  cases  deaths  population est_percent_infected
0 2020-01-21  Washington    53      1       0     7614893                    0
1 2020-01-22  Washington    53      1       0     7614893                    0
2 2020-01-23  Washington    53      1       0     7614893                    0
3 2020-01-24  Washington    53      1       0     7614893                    0
4 2020-01-25  Washington    53      1       0     7614893                    0

## JSON Exports

In [43]:
# Master DF to JSON
state_master_df.to_json("../data/state-master-data.json", orient="records")

In [44]:
# NYT Master to JSON 
nyt_master.to_json("../data/nyt-master.json", orient="records")

In [45]:
nyt_avg_daily_cases.to_json("../data/daily_new_cases.json", orient="records")

### CSV Exports

In [46]:
state_master_df.to_csv("../data/state-master-data.csv")

## Amazon RDS Updates

In [47]:
# Connect to AWS Database instance 
engine = create_engine(f'postgresql://uscovid:{password}@{endpoint}/us_covid_db')
connection = engine.connect()

In [48]:
# 50 States & D.C. Data
state_master_df.to_sql('master_table', index=False, if_exists='replace', con=connection)

In [49]:
# Daily Cases Data
nyt_avg_daily_cases.to_sql("daily_new_cases", index=False, if_exists='replace', con=connection)

In [ ]:
# Raw NTY Data
nytimes_nih_covid_df.to_sql('nyt_table', index=True, if_exists='replace', con=connection)