## State Population and Vaccination Data

In [1]:
# Import Pandas, Config Variables, and SQLalchemy
import pandas as pd
from config import endpoint, username, password
from sqlalchemy import create_engine

In [2]:
# Read CSVs for State Data
state_pop_df = pd.read_csv("../data/state_populations_cleaned.csv")
state_vacc_df = pd.read_csv("../data/state_covid_vaccinations_cleaned.csv")
state_latlons_df = pd.read_csv("../data/statelatlong.csv")

In [3]:
# State Populations
state_pop_df.head()

        state  population
0     Alabama     4903185
1      Alaska      731545
2     Arizona     7278717
3    Arkansas     3017804
4  California    39512223

In [4]:
# State Vaccinations
state_vacc_df.head()

,state,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alaska,193150,119590,26403,16348,94889,12971,24545,3355
1,Alabama,659400,353974,13448,7219,298301,6084,55331,1128
2,Arkansas,453700,303793,15034,10067,244867,8114,56264,1864
3,Arizona,1013375,594104,13922,8162,500942,6882,92666,1273
4,California,5666550,3285351,14341,8315,2717530,6878,558977,1415

In [5]:
state_latlons_df.head()

  State   Latitude   Longitude        City
0    AL  32.601011  -86.680736     Alabama
1    AK  61.302501 -158.775020      Alaska
2    AZ  34.168219 -111.930907     Arizona
3    AR  34.751928  -92.131378    Arkansas
4    CA  37.271875 -119.270415  California

In [6]:
state_latlons_df = state_latlons_df.rename(columns={"State": "Abb", "City": "state"})

In [7]:
state_latlons_df

   Abb   Latitude   Longitude                 state
0   AL  32.601011  -86.680736               Alabama
1   AK  61.302501 -158.775020                Alaska
2   AZ  34.168219 -111.930907               Arizona
3   AR  34.751928  -92.131378              Arkansas
4   CA  37.271875 -119.270415            California
5   CO  38.997934 -105.550567              Colorado
6   CT  41.518784  -72.757507           Connecticut
7   DE  39.145251  -75.418921              Delaware
8   DC  38.899349  -77.014567  District of Columbia
9   FL  27.975728  -83.833017               Florida
10  GA  32.678125  -83.222976               Georgia
11  HI  20.460000 -157.505000                Hawaii
12  ID  45.494576 -114.142430                 Idaho
13  IL  39.739318  -89.504139              Illinois
14  IN  39.766219  -86.441277               Indiana
15  IA  41.938317  -93.389798                  Iowa
16  KS  38.498779  -98.320078                Kansas
17  KY  37.822294  -85.768240              Kentucky
18  LA  30.973377  -91.429910             Louisiana
19  ME  45.218513  -69.014866                 Maine
20  MD  38.806352  -77.268416              Maryland
21  MA  42.062940  -71.718067         Massachusetts
22  MI  44.943560  -86.415805              Michigan
23  MN  46.441859  -93.365515             Minnesota
24  MS  32.585106  -89.877220           Mississippi
25  MO  38.304662  -92.437099              Missouri
26  MT  46.679800 -110.044783               Montana
27  NE  41.500819  -99.680902              Nebraska
28  NV  38.502032 -117.023060                Nevada
29  NH  44.001231  -71.579923         New Hampshire
30  NJ  40.143006  -74.731116            New Jersey
31  NM  34.166232 -106.026069            New Mexico
32  NY  40.705626  -73.979680              New York
33  NC  35.214563  -79.891267        North Carolina
34  ND  47.467882 -100.302266          North Dakota
35  OH  40.190362  -82.669252                  Ohio
36  OK  35.309765  -98.716558              Oklahoma
37  OR  44.141905 -120.538099                Oregon
38  PA  40.994593  -77.604698          Pennsylvania
39  RI  41.582728  -71.506451          Rhode Island
40  SC  33.625050  -80.947038        South Carolina
41  SD  44.212699 -100.247164          South Dakota
42  TN  35.830521  -85.978599             Tennessee
43  TX  31.169336 -100.076842                 Texas
44  UT  39.499761 -111.547028                  Utah
45  VT  43.871755  -72.447783               Vermont
46  VA  38.003386  -79.458786              Virginia
47  WA  38.899349  -77.014567            Washington
48  WV  38.920171  -80.181691         West Virginia
49  WI  44.786297  -89.826705             Wisconsin
50  WY  43.000325 -107.554567               Wyoming

In [8]:
# State Data Merged
state_merged_df = pd.merge(state_pop_df, state_vacc_df, how="left", on="state")
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alabama,4903185,659400,353974,13448,7219,298301,6084,55331,1128
1,Alaska,731545,193150,119590,26403,16348,94889,12971,24545,3355
2,Arizona,7278717,1013375,594104,13922,8162,500942,6882,92666,1273
3,Arkansas,3017804,453700,303793,15034,10067,244867,8114,56264,1864
4,California,39512223,5666550,3285351,14341,8315,2717530,6878,558977,1415

In [9]:
state_merged_df = pd.merge(state_merged_df, state_latlons_df, how="left", on="state")

In [10]:
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
0,Alabama,4903185,659400,353974,13448,7219,298301,6084,55331,1128,AL,32.601011,-86.680736
1,Alaska,731545,193150,119590,26403,16348,94889,12971,24545,3355,AK,61.302501,-158.775020
2,Arizona,7278717,1013375,594104,13922,8162,500942,6882,92666,1273,AZ,34.168219,-111.930907
3,Arkansas,3017804,453700,303793,15034,10067,244867,8114,56264,1864,AR,34.751928,-92.131378
4,California,39512223,5666550,3285351,14341,8315,2717530,6878,558977,1415,CA,37.271875,-119.270415

In [11]:
# Set State as the Index
state_info_df = state_merged_df.set_index("state") 
state_info_df.head()

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
state,,,,,,,,,,,,
Alabama,4903185,659400,353974,13448,7219,298301,6084,55331,1128,AL,32.601011,-86.680736
Alaska,731545,193150,119590,26403,16348,94889,12971,24545,3355,AK,61.302501,-158.775020
Arizona,7278717,1013375,594104,13922,8162,500942,6882,92666,1273,AZ,34.168219,-111.930907
Arkansas,3017804,453700,303793,15034,10067,244867,8114,56264,1864,AR,34.751928,-92.131378
California,39512223,5666550,3285351,14341,8315,2717530,6878,558977,1415,CA,37.271875,-119.270415

In [12]:
# Add Empty Column for New Calculation
state_info_df["percent_vaccinated"] = ""
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,659400,353974,13448,7219,298301,6084,55331,1128,AL,32.601011,-86.680736,
Alaska,731545,193150,119590,26403,16348,94889,12971,24545,3355,AK,61.302501,-158.775020,
Arizona,7278717,1013375,594104,13922,8162,500942,6882,92666,1273,AZ,34.168219,-111.930907,
Arkansas,3017804,453700,303793,15034,10067,244867,8114,56264,1864,AR,34.751928,-92.131378,
California,39512223,5666550,3285351,14341,8315,2717530,6878,558977,1415,CA,37.271875,-119.270415,
Colorado,5758736,813400,569234,14125,9885,440576,7651,125078,2172,CO,38.997934,-105.550567,
Connecticut,3565287,578600,436842,16229,12253,349879,9813,79511,2230,CT,41.518784,-72.757507,
Delaware,973764,143775,99954,14765,10265,82970,8521,16397,1684,DE,39.145251,-75.418921,
District of Columbia,705749,148525,80526,21045,11410,61737,8748,18710,2651,DC,38.899349,-77.014567,
Florida,21477737,3396350,1959626,15813,9124,1656005,7710,297584,1386,FL,27.975728,-83.833017,

In [13]:
# Calcuation for percent vaccinated by state
for index, row in state_info_df.iterrows():
    population = row["population"]
    vaccinated = row["total_administered"]
    percent_vaccinated = round((vaccinated / population) * 100, 2)
    
    state_info_df.at[index, "percent_vaccinated"] = percent_vaccinated

In [14]:
# Check the data types
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     int64
 4   administered_per_100K             51 non-null     int64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     object
dtypes: float64(2), int64(9), object(2)
memory usage: 8.1+ KB

In [15]:
# Convert percent vaccinated into a float
state_info_df = state_info_df.astype({"percent_vaccinated": 'float64'})
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     int64
 4   administered_per_100K             51 non-null     int64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     float64
dtypes: float64(3), int64(9), object(1)
memory usage: 8.1+ KB

In [16]:
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,659400,353974,13448,7219,298301,6084,55331,1128,AL,32.601011,-86.680736,7.22
Alaska,731545,193150,119590,26403,16348,94889,12971,24545,3355,AK,61.302501,-158.775020,16.35
Arizona,7278717,1013375,594104,13922,8162,500942,6882,92666,1273,AZ,34.168219,-111.930907,8.16
Arkansas,3017804,453700,303793,15034,10067,244867,8114,56264,1864,AR,34.751928,-92.131378,10.07
California,39512223,5666550,3285351,14341,8315,2717530,6878,558977,1415,CA,37.271875,-119.270415,8.31
Colorado,5758736,813400,569234,14125,9885,440576,7651,125078,2172,CO,38.997934,-105.550567,9.88
Connecticut,3565287,578600,436842,16229,12253,349879,9813,79511,2230,CT,41.518784,-72.757507,12.25
Delaware,973764,143775,99954,14765,10265,82970,8521,16397,1684,DE,39.145251,-75.418921,10.26
District of Columbia,705749,148525,80526,21045,11410,61737,8748,18710,2651,DC,38.899349,-77.014567,11.41
Florida,21477737,3396350,1959626,15813,9124,1656005,7710,297584,1386,FL,27.975728,-83.833017,9.12

## NIH AWS Data / NYT

### Set up State Master DF

In [17]:
# Read NYT / NIH json 
nytimes_nih_covid_df = pd.read_json("../data/daily_covid_stats_by_state_nyt.json", lines=True)

In [50]:
# Get Data for Most Recent Provided Date
most_recent_date = "2021-01-30"
latest_nyt_stateData = nytimes_nih_covid_df[nytimes_nih_covid_df['date'] == f'{most_recent_date}']

In [51]:
latest_nyt_stateData.head(10)

            date                 state  fips    cases  deaths
18329 2021-01-30               Alabama     1   455582    7566
18330 2021-01-30                Alaska     2    53851     253
18331 2021-01-30               Arizona     4   756027   13111
18332 2021-01-30              Arkansas     5   294387    4838
18333 2021-01-30            California     6  3309463   40694
18334 2021-01-30              Colorado     8   396120    5696
18335 2021-01-30           Connecticut     9   250023    7046
18336 2021-01-30              Delaware    10    77551    1081
18337 2021-01-30  District of Columbia    11    36662     909
18338 2021-01-30               Florida    12  1713581   26359

In [52]:
# Merge with State Info DF that contains population and vaccinations
latest_data_merged = pd.merge(state_info_df, latest_nyt_stateData, on="state")
latest_data_merged.head(10)

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated,date,fips,cases,deaths
0,Alabama,4903185,659400,353974,13448,7219,298301,6084,55331,1128,AL,32.601011,-86.680736,7.22,2021-01-30,1,455582,7566
1,Alaska,731545,193150,119590,26403,16348,94889,12971,24545,3355,AK,61.302501,-158.775020,16.35,2021-01-30,2,53851,253
2,Arizona,7278717,1013375,594104,13922,8162,500942,6882,92666,1273,AZ,34.168219,-111.930907,8.16,2021-01-30,4,756027,13111
3,Arkansas,3017804,453700,303793,15034,10067,244867,8114,56264,1864,AR,34.751928,-92.131378,10.07,2021-01-30,5,294387,4838
4,California,39512223,5666550,3285351,14341,8315,2717530,6878,558977,1415,CA,37.271875,-119.270415,8.31,2021-01-30,6,3309463,40694
5,Colorado,5758736,813400,569234,14125,9885,440576,7651,125078,2172,CO,38.997934,-105.550567,9.88,2021-01-30,8,396120,5696
6,Connecticut,3565287,578600,436842,16229,12253,349879,9813,79511,2230,CT,41.518784,-72.757507,12.25,2021-01-30,9,250023,7046
7,Delaware,973764,143775,99954,14765,10265,82970,8521,16397,1684,DE,39.145251,-75.418921,10.26,2021-01-30,10,77551,1081
8,District of Columbia,705749,148525,80526,21045,11410,61737,8748,18710,2651,DC,38.899349,-77.014567,11.41,2021-01-30,11,36662,909
9,Florida,21477737,3396350,1959626,15813,9124,1656005,7710,297584,1386,FL,27.975728,-83.833017,9.12,2021-01-30,12,1713581,26359

In [53]:
# Create a Master Dataframe to start working with
state_master_df = latest_data_merged[['state', 'Abb', 'date', 'population', 'Latitude', 'Longitude', 'cases', 'deaths', 'total_distributed', 'total_administered', 'percent_vaccinated' ]]
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated
0,Alabama,AL,2021-01-30,4903185,32.601011,-86.680736,455582,7566,659400,353974,7.22
1,Alaska,AK,2021-01-30,731545,61.302501,-158.775020,53851,253,193150,119590,16.35
2,Arizona,AZ,2021-01-30,7278717,34.168219,-111.930907,756027,13111,1013375,594104,8.16
3,Arkansas,AR,2021-01-30,3017804,34.751928,-92.131378,294387,4838,453700,303793,10.07
4,California,CA,2021-01-30,39512223,37.271875,-119.270415,3309463,40694,5666550,3285351,8.31
5,Colorado,CO,2021-01-30,5758736,38.997934,-105.550567,396120,5696,813400,569234,9.88
6,Connecticut,CT,2021-01-30,3565287,41.518784,-72.757507,250023,7046,578600,436842,12.25
7,Delaware,DE,2021-01-30,973764,39.145251,-75.418921,77551,1081,143775,99954,10.26
8,District of Columbia,DC,2021-01-30,705749,38.899349,-77.014567,36662,909,148525,80526,11.41
9,Florida,FL,2021-01-30,21477737,27.975728,-83.833017,1713581,26359,3396350,1959626,9.12

In [54]:
# Create empty column to calculate estimated percent infected to date
state_master_df["est_percent_infected_to_date"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-01-30,4903185,32.601011,-86.680736,455582,7566,659400,353974,7.22,
1,Alaska,AK,2021-01-30,731545,61.302501,-158.775020,53851,253,193150,119590,16.35,
2,Arizona,AZ,2021-01-30,7278717,34.168219,-111.930907,756027,13111,1013375,594104,8.16,
3,Arkansas,AR,2021-01-30,3017804,34.751928,-92.131378,294387,4838,453700,303793,10.07,
4,California,CA,2021-01-30,39512223,37.271875,-119.270415,3309463,40694,5666550,3285351,8.31,
5,Colorado,CO,2021-01-30,5758736,38.997934,-105.550567,396120,5696,813400,569234,9.88,
6,Connecticut,CT,2021-01-30,3565287,41.518784,-72.757507,250023,7046,578600,436842,12.25,
7,Delaware,DE,2021-01-30,973764,39.145251,-75.418921,77551,1081,143775,99954,10.26,
8,District of Columbia,DC,2021-01-30,705749,38.899349,-77.014567,36662,909,148525,80526,11.41,
9,Florida,FL,2021-01-30,21477737,27.975728,-83.833017,1713581,26359,3396350,1959626,9.12,

In [55]:
# Calcuation for est percent infected by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    state_master_df.at[index, "est_percent_infected_to_date"] = percent_infected

In [56]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-01-30,4903185,32.601011,-86.680736,455582,7566,659400,353974,7.22,9.31
1,Alaska,AK,2021-01-30,731545,61.302501,-158.775020,53851,253,193150,119590,16.35,7.36
2,Arizona,AZ,2021-01-30,7278717,34.168219,-111.930907,756027,13111,1013375,594104,8.16,10.41
3,Arkansas,AR,2021-01-30,3017804,34.751928,-92.131378,294387,4838,453700,303793,10.07,9.77
4,California,CA,2021-01-30,39512223,37.271875,-119.270415,3309463,40694,5666550,3285351,8.31,8.38
5,Colorado,CO,2021-01-30,5758736,38.997934,-105.550567,396120,5696,813400,569234,9.88,6.89
6,Connecticut,CT,2021-01-30,3565287,41.518784,-72.757507,250023,7046,578600,436842,12.25,7.03
7,Delaware,DE,2021-01-30,973764,39.145251,-75.418921,77551,1081,143775,99954,10.26,7.97
8,District of Columbia,DC,2021-01-30,705749,38.899349,-77.014567,36662,909,148525,80526,11.41,5.2
9,Florida,FL,2021-01-30,21477737,27.975728,-83.833017,1713581,26359,3396350,1959626,9.12,7.99

In [57]:
# Add Estimated Percent Immune Column
state_master_df["est_percent_immune"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-01-30,4903185,32.601011,-86.680736,455582,7566,659400,353974,7.22,9.31,
1,Alaska,AK,2021-01-30,731545,61.302501,-158.775020,53851,253,193150,119590,16.35,7.36,
2,Arizona,AZ,2021-01-30,7278717,34.168219,-111.930907,756027,13111,1013375,594104,8.16,10.41,
3,Arkansas,AR,2021-01-30,3017804,34.751928,-92.131378,294387,4838,453700,303793,10.07,9.77,
4,California,CA,2021-01-30,39512223,37.271875,-119.270415,3309463,40694,5666550,3285351,8.31,8.38,
5,Colorado,CO,2021-01-30,5758736,38.997934,-105.550567,396120,5696,813400,569234,9.88,6.89,
6,Connecticut,CT,2021-01-30,3565287,41.518784,-72.757507,250023,7046,578600,436842,12.25,7.03,
7,Delaware,DE,2021-01-30,973764,39.145251,-75.418921,77551,1081,143775,99954,10.26,7.97,
8,District of Columbia,DC,2021-01-30,705749,38.899349,-77.014567,36662,909,148525,80526,11.41,5.2,
9,Florida,FL,2021-01-30,21477737,27.975728,-83.833017,1713581,26359,3396350,1959626,9.12,7.99,

In [58]:
# Calcuation for estimated immune by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    infected = row["cases"]
    deaths = row["deaths"]
    vaccinated = row["total_administered"]
    
    est_total_immune = infected + vaccinated
    est_population = population - deaths
    
    percent_immune = round((est_total_immune / est_population) * 100, 2)
    
    state_master_df.at[index, "est_percent_immune"] = percent_immune

In [59]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-01-30,4903185,32.601011,-86.680736,455582,7566,659400,353974,7.22,9.31,16.54
1,Alaska,AK,2021-01-30,731545,61.302501,-158.775020,53851,253,193150,119590,16.35,7.36,23.72
2,Arizona,AZ,2021-01-30,7278717,34.168219,-111.930907,756027,13111,1013375,594104,8.16,10.41,18.58
3,Arkansas,AR,2021-01-30,3017804,34.751928,-92.131378,294387,4838,453700,303793,10.07,9.77,19.85
4,California,CA,2021-01-30,39512223,37.271875,-119.270415,3309463,40694,5666550,3285351,8.31,8.38,16.71
5,Colorado,CO,2021-01-30,5758736,38.997934,-105.550567,396120,5696,813400,569234,9.88,6.89,16.78
6,Connecticut,CT,2021-01-30,3565287,41.518784,-72.757507,250023,7046,578600,436842,12.25,7.03,19.3
7,Delaware,DE,2021-01-30,973764,39.145251,-75.418921,77551,1081,143775,99954,10.26,7.97,18.25
8,District of Columbia,DC,2021-01-30,705749,38.899349,-77.014567,36662,909,148525,80526,11.41,5.2,16.63
9,Florida,FL,2021-01-30,21477737,27.975728,-83.833017,1713581,26359,3396350,1959626,9.12,7.99,17.12

### Set up Daily Cases DF

In [60]:
nyt_avg_daily_cases = nytimes_nih_covid_df
nyt_avg_daily_cases.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

In [61]:
nyt_avg_daily_cases = nyt_avg_daily_cases.groupby("date").sum()
nyt_avg_daily_cases.head()

            fips  cases  deaths
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [62]:
nyt_avg_daily_cases["daily_new_cases"] = ""

In [63]:
nyt_avg_daily_cases.head()

            fips  cases  deaths daily_new_cases
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [64]:
previous_day = 0

In [65]:
for index, row in nyt_avg_daily_cases.iterrows():
    new_cases = row["cases"] - previous_day
    previous_day = row["cases"]
    nyt_avg_daily_cases.at[index, "daily_new_cases"] = new_cases

In [66]:
nyt_avg_daily_cases["date"] = ""

In [67]:
nyt_avg_daily_cases

            fips     cases  deaths daily_new_cases date
date
2020-01-21    53         1       0               1
2020-01-22    53         1       0               0
2020-01-23    53         1       0               0
2020-01-24    70         2       0               1
2020-01-25    76         3       0               1
...          ...       ...     ...             ...  ...
2021-01-26  1762  25484820  425211          151616
2021-01-27  1762  25640449  429312          155629
2021-01-28  1762  25805713  433180          165264
2021-01-29  1762  25971349  436780          165636
2021-01-30  1762  26105096  439421          133747

[376 rows x 5 columns]

In [68]:
for index, row in nyt_avg_daily_cases.iterrows():
    date = index.date()
    nyt_avg_daily_cases.at[index, "date"] = date

In [69]:
nyt_avg_daily_cases.reset_index(drop=True, inplace=True)

In [70]:
nyt_avg_daily_cases.head(10)

   fips  cases  deaths daily_new_cases        date
0    53      1       0               1  2020-01-21
1    53      1       0               0  2020-01-22
2    53      1       0               0  2020-01-23
3    70      2       0               1  2020-01-24
4    76      3       0               1  2020-01-25
5    80      5       0               2  2020-01-26
6    80      5       0               0  2020-01-27
7    80      5       0               0  2020-01-28
8    80      5       0               0  2020-01-29
9    80      6       0               1  2020-01-30

### Set Up NYT Totals Master DF

In [71]:
nyt_master = pd.merge(nytimes_nih_covid_df, state_pop_df, how ="inner", on="state")
nyt_master.head()

        date       state  fips  cases  deaths  population
0 2020-01-21  Washington    53      1       0     7614893
1 2020-01-22  Washington    53      1       0     7614893
2 2020-01-23  Washington    53      1       0     7614893
3 2020-01-24  Washington    53      1       0     7614893
4 2020-01-25  Washington    53      1       0     7614893

In [72]:
nyt_master["est_percent_infected"] = ""
nyt_master.head()

        date       state  fips  cases  deaths  population est_percent_infected
0 2020-01-21  Washington    53      1       0     7614893
1 2020-01-22  Washington    53      1       0     7614893
2 2020-01-23  Washington    53      1       0     7614893
3 2020-01-24  Washington    53      1       0     7614893
4 2020-01-25  Washington    53      1       0     7614893

In [73]:
# Calcuation for est percent infected by state
for index, row in nyt_master.iterrows():
    population = int(row["population"])
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    if infected == 0:
        percent_infected = 0
    else: 
        percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    nyt_master.at[index, "est_percent_infected"] = percent_infected

In [74]:
nyt_master.head()

        date       state  fips  cases  deaths  population est_percent_infected
0 2020-01-21  Washington    53      1       0     7614893                    0
1 2020-01-22  Washington    53      1       0     7614893                    0
2 2020-01-23  Washington    53      1       0     7614893                    0
3 2020-01-24  Washington    53      1       0     7614893                    0
4 2020-01-25  Washington    53      1       0     7614893                    0

## JSON Exports

In [75]:
# Master DF to JSON
state_master_df.to_json("../data/state-master-data.json", orient="records")

In [76]:
# NYT Master to JSON 
nyt_master.to_json("../data/nyt-master.json", orient="records")

In [77]:
nyt_avg_daily_cases.to_json("../data/daily_new_cases.json", orient="records")

### CSV Exports

In [46]:
state_master_df.to_csv("../data/state-master-data.csv")

## Amazon RDS Updates

In [47]:
# Connect to AWS Database instance 
engine = create_engine(f'postgresql://uscovid:{password}@{endpoint}/us_covid_db')
connection = engine.connect()

In [48]:
# 50 States & D.C. Data
state_master_df.to_sql('master_table', index=False, if_exists='replace', con=connection)

In [49]:
# Daily Cases Data
nyt_avg_daily_cases.to_sql("daily_new_cases", index=False, if_exists='replace', con=connection)

In [ ]:
# Raw NTY Data
nytimes_nih_covid_df.to_sql('nyt_table', index=True, if_exists='replace', con=connection)