## State Population and Vaccination Data

In [12]:
# Import Pandas, Config Variables, and SQLalchemy
import pandas as pd
from config import endpoint, username, password
from sqlalchemy import create_engine

In [13]:
# Read CSVs for State Data
state_pop_df = pd.read_csv("../data/state_populations_cleaned.csv")
state_vacc_df = pd.read_csv("../data/state_covid_vaccinations_cleaned.csv")
state_latlons_df = pd.read_csv("../data/statelatlong.csv")

In [14]:
# State Populations
state_pop_df.head()

        state  population
0     Alabama     4903185
1      Alaska      731545
2     Arizona     7278717
3    Arkansas     3017804
4  California    39512223

In [15]:
# State Vaccinations
state_vacc_df.head()

,state,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alaska,240325,129936,32852.0,17762.0,99596,13614,30172,4124
1,Alabama,799675,408428,16309.0,8330.0,338845,6911,69155,1410
2,Arkansas,516925,338227,17129.0,11208.0,266563,8833,68778,2279
3,Arizona,1185700,686116,16290.0,9426.0,573845,7884,111645,1534
4,California,6438225,3723803,16294.0,9424.0,3085932,7810,625189,1582

In [16]:
state_latlons_df.head()

  State   Latitude   Longitude        City
0    AL  32.601011  -86.680736     Alabama
1    AK  61.302501 -158.775020      Alaska
2    AZ  34.168219 -111.930907     Arizona
3    AR  34.751928  -92.131378    Arkansas
4    CA  37.271875 -119.270415  California

In [17]:
state_latlons_df = state_latlons_df.rename(columns={"State": "Abb", "City": "state"})

In [18]:
state_latlons_df

   Abb   Latitude   Longitude                 state
0   AL  32.601011  -86.680736               Alabama
1   AK  61.302501 -158.775020                Alaska
2   AZ  34.168219 -111.930907               Arizona
3   AR  34.751928  -92.131378              Arkansas
4   CA  37.271875 -119.270415            California
5   CO  38.997934 -105.550567              Colorado
6   CT  41.518784  -72.757507           Connecticut
7   DE  39.145251  -75.418921              Delaware
8   DC  38.899349  -77.014567  District of Columbia
9   FL  27.975728  -83.833017               Florida
10  GA  32.678125  -83.222976               Georgia
11  HI  20.460000 -157.505000                Hawaii
12  ID  45.494576 -114.142430                 Idaho
13  IL  39.739318  -89.504139              Illinois
14  IN  39.766219  -86.441277               Indiana
15  IA  41.938317  -93.389798                  Iowa
16  KS  38.498779  -98.320078                Kansas
17  KY  37.822294  -85.768240              Kentucky
18  LA  30.973377  -91.429910             Louisiana
19  ME  45.218513  -69.014866                 Maine
20  MD  38.806352  -77.268416              Maryland
21  MA  42.062940  -71.718067         Massachusetts
22  MI  44.943560  -86.415805              Michigan
23  MN  46.441859  -93.365515             Minnesota
24  MS  32.585106  -89.877220           Mississippi
25  MO  38.304662  -92.437099              Missouri
26  MT  46.679800 -110.044783               Montana
27  NE  41.500819  -99.680902              Nebraska
28  NV  38.502032 -117.023060                Nevada
29  NH  44.001231  -71.579923         New Hampshire
30  NJ  40.143006  -74.731116            New Jersey
31  NM  34.166232 -106.026069            New Mexico
32  NY  40.705626  -73.979680              New York
33  NC  35.214563  -79.891267        North Carolina
34  ND  47.467882 -100.302266          North Dakota
35  OH  40.190362  -82.669252                  Ohio
36  OK  35.309765  -98.716558              Oklahoma
37  OR  44.141905 -120.538099                Oregon
38  PA  40.994593  -77.604698          Pennsylvania
39  RI  41.582728  -71.506451          Rhode Island
40  SC  33.625050  -80.947038        South Carolina
41  SD  44.212699 -100.247164          South Dakota
42  TN  35.830521  -85.978599             Tennessee
43  TX  31.169336 -100.076842                 Texas
44  UT  39.499761 -111.547028                  Utah
45  VT  43.871755  -72.447783               Vermont
46  VA  38.003386  -79.458786              Virginia
47  WA  38.899349  -77.014567            Washington
48  WV  38.920171  -80.181691         West Virginia
49  WI  44.786297  -89.826705             Wisconsin
50  WY  43.000325 -107.554567               Wyoming

In [19]:
# State Data Merged
state_merged_df = pd.merge(state_pop_df, state_vacc_df, how="inner", on="state")
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alabama,4903185,799675,408428,16309.0,8330.0,338845,6911,69155,1410
1,Alaska,731545,240325,129936,32852.0,17762.0,99596,13614,30172,4124
2,Arizona,7278717,1185700,686116,16290.0,9426.0,573845,7884,111645,1534
3,Arkansas,3017804,516925,338227,17129.0,11208.0,266563,8833,68778,2279
4,California,39512223,6438225,3723803,16294.0,9424.0,3085932,7810,625189,1582

In [20]:
state_merged_df = pd.merge(state_merged_df, state_latlons_df, how="left", on="state")

In [21]:
state_merged_df

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
0,Alabama,4903185,799675,408428,16309.0,8330.0,338845,6911,69155,1410,AL,32.601011,-86.680736
1,Alaska,731545,240325,129936,32852.0,17762.0,99596,13614,30172,4124,AK,61.302501,-158.775020
2,Arizona,7278717,1185700,686116,16290.0,9426.0,573845,7884,111645,1534,AZ,34.168219,-111.930907
3,Arkansas,3017804,516925,338227,17129.0,11208.0,266563,8833,68778,2279,AR,34.751928,-92.131378
4,California,39512223,6438225,3723803,16294.0,9424.0,3085932,7810,625189,1582,CA,37.271875,-119.270415
5,Colorado,5758736,983225,638923,17074.0,11095.0,485332,8428,149829,2602,CO,38.997934,-105.550567
6,Connecticut,3565287,666175,481826,18685.0,13514.0,375795,10540,97568,2737,CT,41.518784,-72.757507
7,Delaware,973764,161525,110784,16588.0,11377.0,89727,9214,20394,2094,DE,39.145251,-75.418921
8,District of Columbia,705749,164900,94095,23365.0,13333.0,66645,9443,21313,3020,DC,38.899349,-77.014567
9,Florida,21477737,3658975,2223754,17036.0,10354.0,1793625,8351,422482,1967,FL,27.975728,-83.833017
10,Georgia,10617423,1686125,1008040,15881.0,9494.0,834091,7856,152626,1438,GA,32.678125,-83.222976
11,Hawaii,1415872,262900,151107,18568.0,10672.0,120533,8513,30573,2159,HI,20.460000,-157.505000
12,Idaho,1787065,262275,141897,14676.0,7940.0,113110,6329,26345,1474,ID,45.494576,-114.142430
13,Illinois,12671821,2053325,1178369,16204.0,9299.0,905981,7150,247763,1955,IL,39.739318,-89.504139
14,Indiana,6732219,1116375,671191,16583.0,9970.0,541269,8040,129626,1925,IN,39.766219,-86.441277
15,Iowa,3155070,471200,279252,14935.0,8851.0,206516,6546,69401,2200,IA,41.938317,-93.389798
16,Kansas,2913314,471775,251425,16194.0,8630.0,198352,6808,51322,1762,KS,38.498779,-98.320078
17,Kentucky,4467673,746500,455783,16709.0,10202.0,372114,8329,81502,1824,KY,37.822294,-85.768240
18,Louisiana,4648794,746550,509982,16059.0,10970.0,393389,8462,115629,2487,LA,30.973377,-91.429910
19,Maine,1344212,254550,153439,18937.0,11415.0,114962,8552,36870,2743,ME,45.218513,-69.014866
20,Maryland,6045680,972225,565821,16081.0,9359.0,463885,7673,101425,1678,MD,38.806352,-77.268416
21,Massachusetts,6892503,1229075,652929,17832.0,9473.0,517135,7503,134311,1949,MA,42.062940,-71.718067
22,Michigan,9986857,1634000,1078808,16362.0,10802.0,835524,8366,229373,2297,MI,44.943560,-86.415805
23,Minnesota,5639632,931500,634453,16517.0,11250.0,459716,8152,131728,2336,MN,46.441859,-93.365515
24,Mississippi,2976149,494975,250905,16631.0,8431.0,222860,7488,27786,934,MS,32.585106,-89.877220
25,Missouri,6137428,945850,505207,15411.0,8232.0,388692,6333,112106,1827,MO,38.304662,-92.437099
26,Montana,1068778,163675,116148,15314.0,10867.0,87042,8144,28942,2708,MT,46.679800,-110.044783
27,Nebraska,1934408,344225,195126,17795.0,10087.0,141657,7323,52390,2708,NE,41.500819,-99.680902
28,Nevada,3080156,424800,291601,13792.0,9467.0,244381,7934,45735,1485,NV,38.502032,-117.023060
29,New Hampshire,1359711,244025,145086,17947.0,10670.0,108112,7951,36868,2711,NH,44.001231,-71.579923
30,New Jersey,8882190,1433750,851721,16142.0,9589.0,703957,7925,145570,1639,NJ,40.143006,-74.731116
31,New Mexico,2096829,364775,294566,17397.0,14048.0,224290,10697,67246,3207,NM,34.166232,-106.026069
32,New York,19453561,3377325,2060301,17361.0,10591.0,1576553,8104,388798,1999,NY,40.705626,-73.979680
33,North Carolina,10488084,1715675,1063474,16358.0,10140.0,875375,8346,186914,1782,NC,35.214563,-79.891267
34,North Dakota,762062,131625,106900,17272.0,14028.0,74387,9761,28847,3785,ND,47.467882,-100.302266
35,Ohio,11689100,1899800,1128082,16253.0,9651.0,908994,7776,217948,1865,OH,40.190362,-82.669252
36,Oklahoma,3956971,700225,484384,17696.0,12241.0,382044,9655,99354,2511,OK,35.309765,-98.716558
37,Oregon,4217737,706575,471983,16752.0,11190.0,369704,8765,100414,2381,OR,44.141905,-120.538099
38,Pennsylvania,12801989,2203850,1218735,17215.0,9520.0,958587,7488,257255,2009,PA,40.994593,-77.604698
39,Rhode Island,1059361,178600,103876,16859.0,9806.0,75963,7171,27884,2632,RI,41.582728,-71.506451
40,South Carolina,5148714,683600,497433,13277.0,9661.0,403766,7842,89983,1748,SC,33.625050,-80.947038
41,South Dakota,884659,153450,115676,17346.0,13076.0,81697,9235,33898,3832,SD,44.212699,-100.247164
42,Tennessee,6829174,1090300,684242,15965.0,10019.0,477784,6996,204419,2993,TN,35.830521,-85.978599
43,Texas,28995881,4232675,2805359,14598.0,9675.0,2181310,7523,621991,2145,TX,31.169336,-100.076842
44,Utah,3205958,492450,353469,15360.0,11025.0,258569,8065,74992,2339,UT,39.499761,-111.547028
45,Vermont,623989,116075,77198,18602.0,12372.0,56221,9010,20843,3340,VT,43.871755,-72.447783
46,Virginia,8535519,1381375,949066,16184.0,11119.0,774590,9075,146937,1721,VA,38.003386,-79.458786
47,Washington,7614893,1168625,797358,15347.0,10471.0,637940,8378,147498,1937,WA,38.899349,-77.014567
48,West Virginia,1792147,328600,276753,18336.0,15443.0,197939,11045,78405,4375,WV,38.920171,-80.181691
49,Wisconsin,5822434,925800,548912,15901.0,9428.0,458321,7872,84998,1460,WI,44.786297,-89.826705
50,Wyoming,578759,97750,60775,16890.0,10501.0,49361,8529,10495,1813,WY,43.000325,-107.554567

In [22]:
# Set State as the Index
state_info_df = state_merged_df.set_index("state") 
state_info_df.head()

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
state,,,,,,,,,,,,
Alabama,4903185,799675,408428,16309.0,8330.0,338845,6911,69155,1410,AL,32.601011,-86.680736
Alaska,731545,240325,129936,32852.0,17762.0,99596,13614,30172,4124,AK,61.302501,-158.775020
Arizona,7278717,1185700,686116,16290.0,9426.0,573845,7884,111645,1534,AZ,34.168219,-111.930907
Arkansas,3017804,516925,338227,17129.0,11208.0,266563,8833,68778,2279,AR,34.751928,-92.131378
California,39512223,6438225,3723803,16294.0,9424.0,3085932,7810,625189,1582,CA,37.271875,-119.270415

In [23]:
# Add Empty Column for New Calculation
state_info_df["percent_vaccinated"] = ""
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,799675,408428,16309.0,8330.0,338845,6911,69155,1410,AL,32.601011,-86.680736,
Alaska,731545,240325,129936,32852.0,17762.0,99596,13614,30172,4124,AK,61.302501,-158.775020,
Arizona,7278717,1185700,686116,16290.0,9426.0,573845,7884,111645,1534,AZ,34.168219,-111.930907,
Arkansas,3017804,516925,338227,17129.0,11208.0,266563,8833,68778,2279,AR,34.751928,-92.131378,
California,39512223,6438225,3723803,16294.0,9424.0,3085932,7810,625189,1582,CA,37.271875,-119.270415,
Colorado,5758736,983225,638923,17074.0,11095.0,485332,8428,149829,2602,CO,38.997934,-105.550567,
Connecticut,3565287,666175,481826,18685.0,13514.0,375795,10540,97568,2737,CT,41.518784,-72.757507,
Delaware,973764,161525,110784,16588.0,11377.0,89727,9214,20394,2094,DE,39.145251,-75.418921,
District of Columbia,705749,164900,94095,23365.0,13333.0,66645,9443,21313,3020,DC,38.899349,-77.014567,
Florida,21477737,3658975,2223754,17036.0,10354.0,1793625,8351,422482,1967,FL,27.975728,-83.833017,

In [24]:
# Calcuation for percent vaccinated by state
for index, row in state_info_df.iterrows():
    population = row["population"]
    vaccinated = row["total_administered"]
    percent_vaccinated = round((vaccinated / population) * 100, 2)
    
    state_info_df.at[index, "percent_vaccinated"] = percent_vaccinated

In [25]:
# Check the data types
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     float64
 4   administered_per_100K             51 non-null     float64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     object
dtypes: float64(4), int64(7), object(2)
memory usage: 8.1+ KB

In [26]:
# Convert percent vaccinated into a float
state_info_df = state_info_df.astype({"percent_vaccinated": 'float64'})
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     float64
 4   administered_per_100K             51 non-null     float64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     float64
dtypes: float64(5), int64(7), object(1)
memory usage: 8.1+ KB

In [27]:
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,799675,408428,16309.0,8330.0,338845,6911,69155,1410,AL,32.601011,-86.680736,8.33
Alaska,731545,240325,129936,32852.0,17762.0,99596,13614,30172,4124,AK,61.302501,-158.775020,17.76
Arizona,7278717,1185700,686116,16290.0,9426.0,573845,7884,111645,1534,AZ,34.168219,-111.930907,9.43
Arkansas,3017804,516925,338227,17129.0,11208.0,266563,8833,68778,2279,AR,34.751928,-92.131378,11.21
California,39512223,6438225,3723803,16294.0,9424.0,3085932,7810,625189,1582,CA,37.271875,-119.270415,9.42
Colorado,5758736,983225,638923,17074.0,11095.0,485332,8428,149829,2602,CO,38.997934,-105.550567,11.09
Connecticut,3565287,666175,481826,18685.0,13514.0,375795,10540,97568,2737,CT,41.518784,-72.757507,13.51
Delaware,973764,161525,110784,16588.0,11377.0,89727,9214,20394,2094,DE,39.145251,-75.418921,11.38
District of Columbia,705749,164900,94095,23365.0,13333.0,66645,9443,21313,3020,DC,38.899349,-77.014567,13.33
Florida,21477737,3658975,2223754,17036.0,10354.0,1793625,8351,422482,1967,FL,27.975728,-83.833017,10.35

## NIH AWS Data / NYT

### Set up State Master DF

In [28]:
# Read NYT / NIH json 
nytimes_nih_covid_df = pd.read_json("../data/daily_covid_stats_by_state_nyt.json", lines=True)

In [29]:
# Get Data for Most Recent Provided Date
most_recent_date = "2021-02-03"
latest_nyt_stateData = nytimes_nih_covid_df[nytimes_nih_covid_df['date'] == f'{most_recent_date}']

In [30]:
latest_nyt_stateData.head(10)

            date                 state  fips    cases  deaths
18549 2021-02-03               Alabama     1   465056    8203
18550 2021-02-03                Alaska     2    54447     269
18551 2021-02-03               Arizona     4   769297   13593
18552 2021-02-03              Arkansas     5   300430    4985
18553 2021-02-03            California     6  3366597   42434
18554 2021-02-03              Colorado     8   401751    5759
18555 2021-02-03           Connecticut     9   257004    7157
18556 2021-02-03              Delaware    10    78982    1130
18557 2021-02-03  District of Columbia    11    37199     926
18558 2021-02-03               Florida    12  1744611   27018

In [31]:
# Merge with State Info DF that contains population and vaccinations
latest_data_merged = pd.merge(state_info_df, latest_nyt_stateData, on="state")
latest_data_merged.head(10)

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated,date,fips,cases,deaths
0,Alabama,4903185,799675,408428,16309.0,8330.0,338845,6911,69155,1410,AL,32.601011,-86.680736,8.33,2021-02-03,1,465056,8203
1,Alaska,731545,240325,129936,32852.0,17762.0,99596,13614,30172,4124,AK,61.302501,-158.775020,17.76,2021-02-03,2,54447,269
2,Arizona,7278717,1185700,686116,16290.0,9426.0,573845,7884,111645,1534,AZ,34.168219,-111.930907,9.43,2021-02-03,4,769297,13593
3,Arkansas,3017804,516925,338227,17129.0,11208.0,266563,8833,68778,2279,AR,34.751928,-92.131378,11.21,2021-02-03,5,300430,4985
4,California,39512223,6438225,3723803,16294.0,9424.0,3085932,7810,625189,1582,CA,37.271875,-119.270415,9.42,2021-02-03,6,3366597,42434
5,Colorado,5758736,983225,638923,17074.0,11095.0,485332,8428,149829,2602,CO,38.997934,-105.550567,11.09,2021-02-03,8,401751,5759
6,Connecticut,3565287,666175,481826,18685.0,13514.0,375795,10540,97568,2737,CT,41.518784,-72.757507,13.51,2021-02-03,9,257004,7157
7,Delaware,973764,161525,110784,16588.0,11377.0,89727,9214,20394,2094,DE,39.145251,-75.418921,11.38,2021-02-03,10,78982,1130
8,District of Columbia,705749,164900,94095,23365.0,13333.0,66645,9443,21313,3020,DC,38.899349,-77.014567,13.33,2021-02-03,11,37199,926
9,Florida,21477737,3658975,2223754,17036.0,10354.0,1793625,8351,422482,1967,FL,27.975728,-83.833017,10.35,2021-02-03,12,1744611,27018

In [32]:
# Create a Master Dataframe to start working with
state_master_df = latest_data_merged[['state', 'Abb', 'date', 'population', 'Latitude', 'Longitude', 'cases', 'deaths', 'total_distributed', 'total_administered', 'percent_vaccinated' ]]
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated
0,Alabama,AL,2021-02-03,4903185,32.601011,-86.680736,465056,8203,799675,408428,8.33
1,Alaska,AK,2021-02-03,731545,61.302501,-158.775020,54447,269,240325,129936,17.76
2,Arizona,AZ,2021-02-03,7278717,34.168219,-111.930907,769297,13593,1185700,686116,9.43
3,Arkansas,AR,2021-02-03,3017804,34.751928,-92.131378,300430,4985,516925,338227,11.21
4,California,CA,2021-02-03,39512223,37.271875,-119.270415,3366597,42434,6438225,3723803,9.42
5,Colorado,CO,2021-02-03,5758736,38.997934,-105.550567,401751,5759,983225,638923,11.09
6,Connecticut,CT,2021-02-03,3565287,41.518784,-72.757507,257004,7157,666175,481826,13.51
7,Delaware,DE,2021-02-03,973764,39.145251,-75.418921,78982,1130,161525,110784,11.38
8,District of Columbia,DC,2021-02-03,705749,38.899349,-77.014567,37199,926,164900,94095,13.33
9,Florida,FL,2021-02-03,21477737,27.975728,-83.833017,1744611,27018,3658975,2223754,10.35

In [33]:
# Create empty column to calculate estimated percent infected to date
state_master_df["est_percent_infected_to_date"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-02-03,4903185,32.601011,-86.680736,465056,8203,799675,408428,8.33,
1,Alaska,AK,2021-02-03,731545,61.302501,-158.775020,54447,269,240325,129936,17.76,
2,Arizona,AZ,2021-02-03,7278717,34.168219,-111.930907,769297,13593,1185700,686116,9.43,
3,Arkansas,AR,2021-02-03,3017804,34.751928,-92.131378,300430,4985,516925,338227,11.21,
4,California,CA,2021-02-03,39512223,37.271875,-119.270415,3366597,42434,6438225,3723803,9.42,
5,Colorado,CO,2021-02-03,5758736,38.997934,-105.550567,401751,5759,983225,638923,11.09,
6,Connecticut,CT,2021-02-03,3565287,41.518784,-72.757507,257004,7157,666175,481826,13.51,
7,Delaware,DE,2021-02-03,973764,39.145251,-75.418921,78982,1130,161525,110784,11.38,
8,District of Columbia,DC,2021-02-03,705749,38.899349,-77.014567,37199,926,164900,94095,13.33,
9,Florida,FL,2021-02-03,21477737,27.975728,-83.833017,1744611,27018,3658975,2223754,10.35,

In [34]:
# Calcuation for est percent infected by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    state_master_df.at[index, "est_percent_infected_to_date"] = percent_infected

In [35]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-02-03,4903185,32.601011,-86.680736,465056,8203,799675,408428,8.33,9.5
1,Alaska,AK,2021-02-03,731545,61.302501,-158.775020,54447,269,240325,129936,17.76,7.45
2,Arizona,AZ,2021-02-03,7278717,34.168219,-111.930907,769297,13593,1185700,686116,9.43,10.59
3,Arkansas,AR,2021-02-03,3017804,34.751928,-92.131378,300430,4985,516925,338227,11.21,9.97
4,California,CA,2021-02-03,39512223,37.271875,-119.270415,3366597,42434,6438225,3723803,9.42,8.53
5,Colorado,CO,2021-02-03,5758736,38.997934,-105.550567,401751,5759,983225,638923,11.09,6.98
6,Connecticut,CT,2021-02-03,3565287,41.518784,-72.757507,257004,7157,666175,481826,13.51,7.22
7,Delaware,DE,2021-02-03,973764,39.145251,-75.418921,78982,1130,161525,110784,11.38,8.12
8,District of Columbia,DC,2021-02-03,705749,38.899349,-77.014567,37199,926,164900,94095,13.33,5.28
9,Florida,FL,2021-02-03,21477737,27.975728,-83.833017,1744611,27018,3658975,2223754,10.35,8.13

In [36]:
# Add Estimated Percent Immune Column
state_master_df["est_percent_immune"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-02-03,4903185,32.601011,-86.680736,465056,8203,799675,408428,8.33,9.5,
1,Alaska,AK,2021-02-03,731545,61.302501,-158.775020,54447,269,240325,129936,17.76,7.45,
2,Arizona,AZ,2021-02-03,7278717,34.168219,-111.930907,769297,13593,1185700,686116,9.43,10.59,
3,Arkansas,AR,2021-02-03,3017804,34.751928,-92.131378,300430,4985,516925,338227,11.21,9.97,
4,California,CA,2021-02-03,39512223,37.271875,-119.270415,3366597,42434,6438225,3723803,9.42,8.53,
5,Colorado,CO,2021-02-03,5758736,38.997934,-105.550567,401751,5759,983225,638923,11.09,6.98,
6,Connecticut,CT,2021-02-03,3565287,41.518784,-72.757507,257004,7157,666175,481826,13.51,7.22,
7,Delaware,DE,2021-02-03,973764,39.145251,-75.418921,78982,1130,161525,110784,11.38,8.12,
8,District of Columbia,DC,2021-02-03,705749,38.899349,-77.014567,37199,926,164900,94095,13.33,5.28,
9,Florida,FL,2021-02-03,21477737,27.975728,-83.833017,1744611,27018,3658975,2223754,10.35,8.13,

In [37]:
# Calcuation for estimated immune by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    infected = row["cases"]
    deaths = row["deaths"]
    vaccinated = row["total_administered"]
    
    est_total_immune = infected + vaccinated
    est_population = population - deaths
    
    percent_immune = round((est_total_immune / est_population) * 100, 2)
    
    state_master_df.at[index, "est_percent_immune"] = percent_immune

In [38]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-02-03,4903185,32.601011,-86.680736,465056,8203,799675,408428,8.33,9.5,17.84
1,Alaska,AK,2021-02-03,731545,61.302501,-158.775020,54447,269,240325,129936,17.76,7.45,25.21
2,Arizona,AZ,2021-02-03,7278717,34.168219,-111.930907,769297,13593,1185700,686116,9.43,10.59,20.03
3,Arkansas,AR,2021-02-03,3017804,34.751928,-92.131378,300430,4985,516925,338227,11.21,9.97,21.2
4,California,CA,2021-02-03,39512223,37.271875,-119.270415,3366597,42434,6438225,3723803,9.42,8.53,17.96
5,Colorado,CO,2021-02-03,5758736,38.997934,-105.550567,401751,5759,983225,638923,11.09,6.98,18.09
6,Connecticut,CT,2021-02-03,3565287,41.518784,-72.757507,257004,7157,666175,481826,13.51,7.22,20.76
7,Delaware,DE,2021-02-03,973764,39.145251,-75.418921,78982,1130,161525,110784,11.38,8.12,19.51
8,District of Columbia,DC,2021-02-03,705749,38.899349,-77.014567,37199,926,164900,94095,13.33,5.28,18.63
9,Florida,FL,2021-02-03,21477737,27.975728,-83.833017,1744611,27018,3658975,2223754,10.35,8.13,18.5

### Set up Daily Cases DF

In [39]:
nyt_avg_daily_cases = nytimes_nih_covid_df
nyt_avg_daily_cases.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

In [40]:
nyt_avg_daily_cases = nyt_avg_daily_cases.groupby("date").sum()
nyt_avg_daily_cases.head()

            fips  cases  deaths
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [41]:
nyt_avg_daily_cases["daily_new_cases"] = ""

In [42]:
nyt_avg_daily_cases.head()

            fips  cases  deaths daily_new_cases
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [43]:
previous_day = 0

In [44]:
for index, row in nyt_avg_daily_cases.iterrows():
    new_cases = row["cases"] - previous_day
    previous_day = row["cases"]
    nyt_avg_daily_cases.at[index, "daily_new_cases"] = new_cases

In [45]:
nyt_avg_daily_cases["date"] = ""

In [46]:
nyt_avg_daily_cases

            fips     cases  deaths daily_new_cases date
date
2020-01-21    53         1       0               1
2020-01-22    53         1       0               0
2020-01-23    53         1       0               0
2020-01-24    70         2       0               1
2020-01-25    76         3       0               1
...          ...       ...     ...             ...  ...
2021-01-30  1762  26105263  439421          133914
2021-01-31  1762  26218775  441285          113512
2021-02-01  1762  26358607  443235          139832
2021-02-02  1762  26476526  446846          117919
2021-02-03  1762  26595540  450689          119014

[380 rows x 5 columns]

In [47]:
for index, row in nyt_avg_daily_cases.iterrows():
    date = index.date()
    nyt_avg_daily_cases.at[index, "date"] = date

In [48]:
nyt_avg_daily_cases.reset_index(drop=True, inplace=True)

In [49]:
nyt_avg_daily_cases.head(10)

   fips  cases  deaths daily_new_cases        date
0    53      1       0               1  2020-01-21
1    53      1       0               0  2020-01-22
2    53      1       0               0  2020-01-23
3    70      2       0               1  2020-01-24
4    76      3       0               1  2020-01-25
5    80      5       0               2  2020-01-26
6    80      5       0               0  2020-01-27
7    80      5       0               0  2020-01-28
8    80      5       0               0  2020-01-29
9    80      6       0               1  2020-01-30

### Set Up NYT Totals Master DF

In [50]:
nyt_master = pd.merge(nytimes_nih_covid_df, state_pop_df, how ="inner", on="state")
nyt_master.head()

        date       state  fips  cases  deaths  population
0 2020-01-21  Washington    53      1       0     7614893
1 2020-01-22  Washington    53      1       0     7614893
2 2020-01-23  Washington    53      1       0     7614893
3 2020-01-24  Washington    53      1       0     7614893
4 2020-01-25  Washington    53      1       0     7614893

In [51]:
nyt_master["est_percent_infected"] = ""
nyt_master.head()

        date       state  fips  cases  deaths  population est_percent_infected
0 2020-01-21  Washington    53      1       0     7614893
1 2020-01-22  Washington    53      1       0     7614893
2 2020-01-23  Washington    53      1       0     7614893
3 2020-01-24  Washington    53      1       0     7614893
4 2020-01-25  Washington    53      1       0     7614893

In [52]:
# Calcuation for est percent infected by state
for index, row in nyt_master.iterrows():
    population = int(row["population"])
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    if infected == 0:
        percent_infected = 0
    else: 
        percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    nyt_master.at[index, "est_percent_infected"] = percent_infected

In [53]:
nyt_master.head()

        date       state  fips  cases  deaths  population est_percent_infected
0 2020-01-21  Washington    53      1       0     7614893                    0
1 2020-01-22  Washington    53      1       0     7614893                    0
2 2020-01-23  Washington    53      1       0     7614893                    0
3 2020-01-24  Washington    53      1       0     7614893                    0
4 2020-01-25  Washington    53      1       0     7614893                    0

## JSON Exports

In [54]:
# Master DF to JSON
state_master_df.to_json("../data/state-master-data.json", orient="records")

In [55]:
# NYT Master to JSON 
nyt_master.to_json("../data/nyt-master.json", orient="records")

In [56]:
nyt_avg_daily_cases.to_json("../data/daily_new_cases.json", orient="records")

### CSV Exports

In [47]:
state_master_df.to_csv("../data/state-master-data.csv")

## Amazon RDS Updates

In [48]:
# Connect to AWS Database instance 
engine = create_engine(f'postgresql://uscovid:{password}@{endpoint}/us_covid_db')
connection = engine.connect()

In [49]:
# 50 States & D.C. Data
state_master_df.to_sql('master_table', index=False, if_exists='replace', con=connection)

In [50]:
# Daily Cases Data
nyt_avg_daily_cases.to_sql("daily_new_cases", index=False, if_exists='replace', con=connection)

In [50]:
# Raw NTY Data
nytimes_nih_covid_df.to_sql('nyt_table', index=True, if_exists='replace', con=connection)