## State Population and Vaccination Data

In [1]:
# Import Pandas, Config Variables, and SQLalchemy
import pandas as pd
from config import endpoint, username, password
from sqlalchemy import create_engine

In [2]:
# Read CSVs for State Data
state_pop_df = pd.read_csv("../data/state_populations_cleaned.csv")
state_vacc_df = pd.read_csv("../data/state_covid_vaccinations_cleaned.csv")
state_latlons_df = pd.read_csv("../data/statelatlong.csv")

In [3]:
# State Populations
state_pop_df.head()

        state  population
0     Alabama     4903185
1      Alaska      731545
2     Arizona     7278717
3    Arkansas     3017804
4  California    39512223

In [4]:
# State Vaccinations
state_vacc_df.head()

,state,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alaska,248500,139147,33969.0,19021.0,103163,14102,35773,4890
1,Alabama,804100,455173,16400.0,9283.0,370275,7552,84278,1719
2,Arkansas,540050,374674,17895.0,12415.0,290153,9615,81564,2703
3,American Samoa,29450,12259,52883.0,22013.0,9779,17560,2478,4450
4,Arizona,1186000,766788,16294.0,10535.0,629750,8652,136236,1872

In [5]:
state_latlons_df.head()

  State   Latitude   Longitude        City
0    AL  32.601011  -86.680736     Alabama
1    AK  61.302501 -158.775020      Alaska
2    AZ  34.168219 -111.930907     Arizona
3    AR  34.751928  -92.131378    Arkansas
4    CA  37.271875 -119.270415  California

In [6]:
state_latlons_df = state_latlons_df.rename(columns={"State": "Abb", "City": "state"})

In [7]:
state_latlons_df

   Abb   Latitude   Longitude                 state
0   AL  32.601011  -86.680736               Alabama
1   AK  61.302501 -158.775020                Alaska
2   AZ  34.168219 -111.930907               Arizona
3   AR  34.751928  -92.131378              Arkansas
4   CA  37.271875 -119.270415            California
5   CO  38.997934 -105.550567              Colorado
6   CT  41.518784  -72.757507           Connecticut
7   DE  39.145251  -75.418921              Delaware
8   DC  38.899349  -77.014567  District of Columbia
9   FL  27.975728  -83.833017               Florida
10  GA  32.678125  -83.222976               Georgia
11  HI  20.460000 -157.505000                Hawaii
12  ID  45.494576 -114.142430                 Idaho
13  IL  39.739318  -89.504139              Illinois
14  IN  39.766219  -86.441277               Indiana
15  IA  41.938317  -93.389798                  Iowa
16  KS  38.498779  -98.320078                Kansas
17  KY  37.822294  -85.768240              Kentucky
18  LA  30.973377  -91.429910             Louisiana
19  ME  45.218513  -69.014866                 Maine
20  MD  38.806352  -77.268416              Maryland
21  MA  42.062940  -71.718067         Massachusetts
22  MI  44.943560  -86.415805              Michigan
23  MN  46.441859  -93.365515             Minnesota
24  MS  32.585106  -89.877220           Mississippi
25  MO  38.304662  -92.437099              Missouri
26  MT  46.679800 -110.044783               Montana
27  NE  41.500819  -99.680902              Nebraska
28  NV  38.502032 -117.023060                Nevada
29  NH  44.001231  -71.579923         New Hampshire
30  NJ  40.143006  -74.731116            New Jersey
31  NM  34.166232 -106.026069            New Mexico
32  NY  40.705626  -73.979680              New York
33  NC  35.214563  -79.891267        North Carolina
34  ND  47.467882 -100.302266          North Dakota
35  OH  40.190362  -82.669252                  Ohio
36  OK  35.309765  -98.716558              Oklahoma
37  OR  44.141905 -120.538099                Oregon
38  PA  40.994593  -77.604698          Pennsylvania
39  RI  41.582728  -71.506451          Rhode Island
40  SC  33.625050  -80.947038        South Carolina
41  SD  44.212699 -100.247164          South Dakota
42  TN  35.830521  -85.978599             Tennessee
43  TX  31.169336 -100.076842                 Texas
44  UT  39.499761 -111.547028                  Utah
45  VT  43.871755  -72.447783               Vermont
46  VA  38.003386  -79.458786              Virginia
47  WA  38.899349  -77.014567            Washington
48  WV  38.920171  -80.181691         West Virginia
49  WI  44.786297  -89.826705             Wisconsin
50  WY  43.000325 -107.554567               Wyoming

In [8]:
# State Data Merged
state_merged_df = pd.merge(state_pop_df, state_vacc_df, how="inner", on="state")
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alabama,4903185,804100,455173,16400.0,9283.0,370275,7552,84278,1719
1,Alaska,731545,248500,139147,33969.0,19021.0,103163,14102,35773,4890
2,Arizona,7278717,1186000,766788,16294.0,10535.0,629750,8652,136236,1872
3,Arkansas,3017804,540050,374674,17895.0,12415.0,290153,9615,81564,2703
4,California,39512223,6963500,4137600,17624.0,10472.0,3389906,8579,727993,1842

In [9]:
state_merged_df = pd.merge(state_merged_df, state_latlons_df, how="left", on="state")

In [10]:
state_merged_df

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
0,Alabama,4903185,804100,455173,16400.0,9283.0,370275,7552,84278,1719,AL,32.601011,-86.680736
1,Alaska,731545,248500,139147,33969.0,19021.0,103163,14102,35773,4890,AK,61.302501,-158.775020
2,Arizona,7278717,1186000,766788,16294.0,10535.0,629750,8652,136236,1872,AZ,34.168219,-111.930907
3,Arkansas,3017804,540050,374674,17895.0,12415.0,290153,9615,81564,2703,AR,34.751928,-92.131378
4,California,39512223,6963500,4137600,17624.0,10472.0,3389906,8579,727993,1842,CA,37.271875,-119.270415
5,Colorado,5758736,991075,694860,17210.0,12066.0,512024,8891,178975,3108,CO,38.997934,-105.550567
6,Connecticut,3565287,740300,519400,20764.0,14568.0,395554,11095,115349,3235,CT,41.518784,-72.757507
7,Delaware,973764,161525,118475,16588.0,12167.0,94962,9752,22791,2341,DE,39.145251,-75.418921
8,District of Columbia,705749,166950,102031,23656.0,14457.0,71810,10175,24069,3410,DC,38.899349,-77.014567
9,Florida,21477737,3791925,2385839,17655.0,11108.0,1865090,8684,512064,2384,FL,27.975728,-83.833017
10,Georgia,10617423,1688075,1098863,15899.0,10350.0,887597,8360,188736,1778,GA,32.678125,-83.222976
11,Hawaii,1415872,263000,179059,18575.0,12647.0,132701,9372,37054,2617,HI,20.460000,-157.505000
12,Idaho,1787065,266475,176220,14911.0,9861.0,133810,7488,32011,1791,ID,45.494576,-114.142430
13,Illinois,12671821,2089050,1329963,16486.0,10495.0,1028487,8116,275276,2172,IL,39.739318,-89.504139
14,Indiana,6732219,1118350,749771,16612.0,11137.0,593266,8812,156083,2318,IN,39.766219,-86.441277
15,Iowa,3155070,510550,308527,16182.0,9779.0,224437,7114,80640,2556,IA,41.938317,-93.389798
16,Kansas,2913314,492250,280252,16897.0,9620.0,218170,7489,60203,2066,KS,38.498779,-98.320078
17,Kentucky,4467673,747000,517168,16720.0,11576.0,406790,9105,108050,2418,KY,37.822294,-85.768240
18,Louisiana,4648794,769750,570731,16558.0,12277.0,419327,9020,150219,3231,LA,30.973377,-91.429910
19,Maine,1344212,254550,168626,18937.0,12545.0,126127,9383,40806,3036,ME,45.218513,-69.014866
20,Maryland,6045680,1029725,626838,17032.0,10368.0,496331,8210,129951,2149,MD,38.806352,-77.268416
21,Massachusetts,6892503,1247600,727120,18101.0,10549.0,571853,8297,153692,2230,MA,42.062940,-71.718067
22,Michigan,9986857,1639575,1193181,16417.0,11948.0,896162,8973,282345,2827,MI,44.943560,-86.415805
23,Minnesota,5639632,950250,703366,16850.0,12472.0,509608,9036,150576,2670,MN,46.441859,-93.365515
24,Mississippi,2976149,515450,300464,17319.0,10096.0,252569,8486,47607,1600,MS,32.585106,-89.877220
25,Missouri,6137428,961525,583949,15667.0,9515.0,448830,7313,129273,2106,MO,38.304662,-92.437099
26,Montana,1068778,163675,130883,15314.0,12246.0,96394,9019,34207,3201,MT,46.679800,-110.044783
27,Nebraska,1934408,346375,218405,17906.0,11291.0,157139,8123,59985,3101,NE,41.500819,-99.680902
28,Nevada,3080156,427800,322252,13889.0,10462.0,264060,8573,56456,1833,NV,38.502032,-117.023060
29,New Hampshire,1359711,257700,161178,18953.0,11854.0,116523,8570,43888,3228,NH,44.001231,-71.579923
30,New Jersey,8882190,1480825,1041289,16672.0,11723.0,791011,8906,199040,2241,NJ,40.143006,-74.731116
31,New Mexico,2096829,364875,322611,17401.0,15386.0,240516,11470,78774,3757,NM,34.166232,-106.026069
32,New York,19453561,3378300,2225316,17366.0,11439.0,1661253,8540,468747,2410,NY,40.705626,-73.979680
33,North Carolina,10488084,1718275,1171240,16383.0,11167.0,939554,8958,230372,2197,NC,35.214563,-79.891267
34,North Dakota,762062,131625,120742,17272.0,15844.0,81935,10752,35123,4609,ND,47.467882,-100.302266
35,Ohio,11689100,1901750,1242487,16269.0,10629.0,975620,8346,265445,2271,OH,40.190362,-82.669252
36,Oklahoma,3956971,734625,541252,18565.0,13678.0,406359,10269,131556,3325,OK,35.309765,-98.716558
37,Oregon,4217737,734950,509875,17425.0,12089.0,389513,9235,118378,2807,OR,44.141905,-120.538099
38,Pennsylvania,12801989,2292500,1338491,17907.0,10455.0,1036395,8096,298741,2334,PA,40.994593,-77.604698
39,Rhode Island,1059361,192300,111830,18152.0,10556.0,81085,7654,30711,2899,RI,41.582728,-71.506451
40,South Carolina,5148714,684700,542879,13298.0,10544.0,435079,8450,103432,2009,SC,33.625050,-80.947038
41,South Dakota,884659,161150,127592,18216.0,14423.0,88882,10047,38626,4366,SD,44.212699,-100.247164
42,Tennessee,6829174,1156975,752298,16942.0,11016.0,521621,7638,228198,3342,TN,35.830521,-85.978599
43,Texas,28995881,4402275,3107936,15182.0,10719.0,2371311,8178,734386,2533,TX,31.169336,-100.076842
44,Utah,3205958,493525,400285,15394.0,12486.0,284458,8873,88190,2751,UT,39.499761,-111.547028
45,Vermont,623989,116075,82992,18602.0,13300.0,58637,9397,24212,3880,VT,43.871755,-72.447783
46,Virginia,8535519,1387775,1052577,16259.0,12332.0,842587,9872,180751,2118,VA,38.003386,-79.458786
47,Washington,7614893,1208600,867773,15872.0,11396.0,684484,8989,170990,2245,WA,38.899349,-77.014567
48,West Virginia,1792147,357000,314870,19920.0,17569.0,214301,11958,100159,5589,WV,38.920171,-80.181691
49,Wisconsin,5822434,926300,638241,15909.0,10962.0,521331,8954,110306,1894,WI,44.786297,-89.826705
50,Wyoming,578759,101650,71858,17563.0,12416.0,56076,9689,14835,2563,WY,43.000325,-107.554567

In [11]:
# Set State as the Index
state_info_df = state_merged_df.set_index("state") 
state_info_df.head()

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude
state,,,,,,,,,,,,
Alabama,4903185,804100,455173,16400.0,9283.0,370275,7552,84278,1719,AL,32.601011,-86.680736
Alaska,731545,248500,139147,33969.0,19021.0,103163,14102,35773,4890,AK,61.302501,-158.775020
Arizona,7278717,1186000,766788,16294.0,10535.0,629750,8652,136236,1872,AZ,34.168219,-111.930907
Arkansas,3017804,540050,374674,17895.0,12415.0,290153,9615,81564,2703,AR,34.751928,-92.131378
California,39512223,6963500,4137600,17624.0,10472.0,3389906,8579,727993,1842,CA,37.271875,-119.270415

In [12]:
# Add Empty Column for New Calculation
state_info_df["percent_vaccinated"] = ""
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,804100,455173,16400.0,9283.0,370275,7552,84278,1719,AL,32.601011,-86.680736,
Alaska,731545,248500,139147,33969.0,19021.0,103163,14102,35773,4890,AK,61.302501,-158.775020,
Arizona,7278717,1186000,766788,16294.0,10535.0,629750,8652,136236,1872,AZ,34.168219,-111.930907,
Arkansas,3017804,540050,374674,17895.0,12415.0,290153,9615,81564,2703,AR,34.751928,-92.131378,
California,39512223,6963500,4137600,17624.0,10472.0,3389906,8579,727993,1842,CA,37.271875,-119.270415,
Colorado,5758736,991075,694860,17210.0,12066.0,512024,8891,178975,3108,CO,38.997934,-105.550567,
Connecticut,3565287,740300,519400,20764.0,14568.0,395554,11095,115349,3235,CT,41.518784,-72.757507,
Delaware,973764,161525,118475,16588.0,12167.0,94962,9752,22791,2341,DE,39.145251,-75.418921,
District of Columbia,705749,166950,102031,23656.0,14457.0,71810,10175,24069,3410,DC,38.899349,-77.014567,
Florida,21477737,3791925,2385839,17655.0,11108.0,1865090,8684,512064,2384,FL,27.975728,-83.833017,

In [13]:
# Calcuation for percent vaccinated by state
for index, row in state_info_df.iterrows():
    population = row["population"]
    vaccinated = row["total_administered"]
    percent_vaccinated = round((vaccinated / population) * 100, 2)
    
    state_info_df.at[index, "percent_vaccinated"] = percent_vaccinated

In [14]:
# Check the data types
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     float64
 4   administered_per_100K             51 non-null     float64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     object
dtypes: float64(4), int64(7), object(2)
memory usage: 8.1+ KB

In [15]:
# Convert percent vaccinated into a float
state_info_df = state_info_df.astype({"percent_vaccinated": 'float64'})
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     float64
 4   administered_per_100K             51 non-null     float64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   Abb                               51 non-null     object
 10  Latitude                          51 non-null     float64
 11  Longitude                         51 non-null     float64
 12  percent_vaccinated                51 non-null     float64
dtypes: float64(5), int64(7), object(1)
memory usage: 8.1+ KB

In [16]:
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated
state,,,,,,,,,,,,,
Alabama,4903185,804100,455173,16400.0,9283.0,370275,7552,84278,1719,AL,32.601011,-86.680736,9.28
Alaska,731545,248500,139147,33969.0,19021.0,103163,14102,35773,4890,AK,61.302501,-158.775020,19.02
Arizona,7278717,1186000,766788,16294.0,10535.0,629750,8652,136236,1872,AZ,34.168219,-111.930907,10.53
Arkansas,3017804,540050,374674,17895.0,12415.0,290153,9615,81564,2703,AR,34.751928,-92.131378,12.42
California,39512223,6963500,4137600,17624.0,10472.0,3389906,8579,727993,1842,CA,37.271875,-119.270415,10.47
Colorado,5758736,991075,694860,17210.0,12066.0,512024,8891,178975,3108,CO,38.997934,-105.550567,12.07
Connecticut,3565287,740300,519400,20764.0,14568.0,395554,11095,115349,3235,CT,41.518784,-72.757507,14.57
Delaware,973764,161525,118475,16588.0,12167.0,94962,9752,22791,2341,DE,39.145251,-75.418921,12.17
District of Columbia,705749,166950,102031,23656.0,14457.0,71810,10175,24069,3410,DC,38.899349,-77.014567,14.46
Florida,21477737,3791925,2385839,17655.0,11108.0,1865090,8684,512064,2384,FL,27.975728,-83.833017,11.11

## NIH AWS Data / NYT

### Set up State Master DF

In [17]:
# Read NYT / NIH json 
nytimes_nih_covid_df = pd.read_json("../data/daily_covid_stats_by_state_nyt.json", lines=True)

In [18]:
# Get Data for Most Recent Provided Date
most_recent_date = "2021-02-05"
latest_nyt_stateData = nytimes_nih_covid_df[nytimes_nih_covid_df['date'] == f'{most_recent_date}']

In [19]:
latest_nyt_stateData.head(10)

            date                 state  fips    cases  deaths
18659 2021-02-05               Alabama     1   469319    8449
18660 2021-02-05                Alaska     2    54880     269
18661 2021-02-05               Arizona     4   777038   13965
18662 2021-02-05              Arkansas     5   304723    5050
18663 2021-02-05            California     6  3395295   43631
18664 2021-02-05              Colorado     8   405200    5804
18665 2021-02-05           Connecticut     9   259372    7214
18666 2021-02-05              Delaware    10    79546    1191
18667 2021-02-05  District of Columbia    11    37634     940
18668 2021-02-05               Florida    12  1763865   27456

In [20]:
# Merge with State Info DF that contains population and vaccinations
latest_data_merged = pd.merge(state_info_df, latest_nyt_stateData, on="state")
latest_data_merged.head(10)

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,Abb,Latitude,Longitude,percent_vaccinated,date,fips,cases,deaths
0,Alabama,4903185,804100,455173,16400.0,9283.0,370275,7552,84278,1719,AL,32.601011,-86.680736,9.28,2021-02-05,1,469319,8449
1,Alaska,731545,248500,139147,33969.0,19021.0,103163,14102,35773,4890,AK,61.302501,-158.775020,19.02,2021-02-05,2,54880,269
2,Arizona,7278717,1186000,766788,16294.0,10535.0,629750,8652,136236,1872,AZ,34.168219,-111.930907,10.53,2021-02-05,4,777038,13965
3,Arkansas,3017804,540050,374674,17895.0,12415.0,290153,9615,81564,2703,AR,34.751928,-92.131378,12.42,2021-02-05,5,304723,5050
4,California,39512223,6963500,4137600,17624.0,10472.0,3389906,8579,727993,1842,CA,37.271875,-119.270415,10.47,2021-02-05,6,3395295,43631
5,Colorado,5758736,991075,694860,17210.0,12066.0,512024,8891,178975,3108,CO,38.997934,-105.550567,12.07,2021-02-05,8,405200,5804
6,Connecticut,3565287,740300,519400,20764.0,14568.0,395554,11095,115349,3235,CT,41.518784,-72.757507,14.57,2021-02-05,9,259372,7214
7,Delaware,973764,161525,118475,16588.0,12167.0,94962,9752,22791,2341,DE,39.145251,-75.418921,12.17,2021-02-05,10,79546,1191
8,District of Columbia,705749,166950,102031,23656.0,14457.0,71810,10175,24069,3410,DC,38.899349,-77.014567,14.46,2021-02-05,11,37634,940
9,Florida,21477737,3791925,2385839,17655.0,11108.0,1865090,8684,512064,2384,FL,27.975728,-83.833017,11.11,2021-02-05,12,1763865,27456

In [21]:
# Create a Master Dataframe to start working with
state_master_df = latest_data_merged[['state', 'Abb', 'date', 'population', 'Latitude', 'Longitude', 'cases', 'deaths', 'total_distributed', 'total_administered', 'percent_vaccinated' ]]
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated
0,Alabama,AL,2021-02-05,4903185,32.601011,-86.680736,469319,8449,804100,455173,9.28
1,Alaska,AK,2021-02-05,731545,61.302501,-158.775020,54880,269,248500,139147,19.02
2,Arizona,AZ,2021-02-05,7278717,34.168219,-111.930907,777038,13965,1186000,766788,10.53
3,Arkansas,AR,2021-02-05,3017804,34.751928,-92.131378,304723,5050,540050,374674,12.42
4,California,CA,2021-02-05,39512223,37.271875,-119.270415,3395295,43631,6963500,4137600,10.47
5,Colorado,CO,2021-02-05,5758736,38.997934,-105.550567,405200,5804,991075,694860,12.07
6,Connecticut,CT,2021-02-05,3565287,41.518784,-72.757507,259372,7214,740300,519400,14.57
7,Delaware,DE,2021-02-05,973764,39.145251,-75.418921,79546,1191,161525,118475,12.17
8,District of Columbia,DC,2021-02-05,705749,38.899349,-77.014567,37634,940,166950,102031,14.46
9,Florida,FL,2021-02-05,21477737,27.975728,-83.833017,1763865,27456,3791925,2385839,11.11

In [22]:
# Create empty column to calculate estimated percent infected to date
state_master_df["est_percent_infected_to_date"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-02-05,4903185,32.601011,-86.680736,469319,8449,804100,455173,9.28,
1,Alaska,AK,2021-02-05,731545,61.302501,-158.775020,54880,269,248500,139147,19.02,
2,Arizona,AZ,2021-02-05,7278717,34.168219,-111.930907,777038,13965,1186000,766788,10.53,
3,Arkansas,AR,2021-02-05,3017804,34.751928,-92.131378,304723,5050,540050,374674,12.42,
4,California,CA,2021-02-05,39512223,37.271875,-119.270415,3395295,43631,6963500,4137600,10.47,
5,Colorado,CO,2021-02-05,5758736,38.997934,-105.550567,405200,5804,991075,694860,12.07,
6,Connecticut,CT,2021-02-05,3565287,41.518784,-72.757507,259372,7214,740300,519400,14.57,
7,Delaware,DE,2021-02-05,973764,39.145251,-75.418921,79546,1191,161525,118475,12.17,
8,District of Columbia,DC,2021-02-05,705749,38.899349,-77.014567,37634,940,166950,102031,14.46,
9,Florida,FL,2021-02-05,21477737,27.975728,-83.833017,1763865,27456,3791925,2385839,11.11,

In [23]:
# Calcuation for est percent infected by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    state_master_df.at[index, "est_percent_infected_to_date"] = percent_infected

In [24]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,AL,2021-02-05,4903185,32.601011,-86.680736,469319,8449,804100,455173,9.28,9.59
1,Alaska,AK,2021-02-05,731545,61.302501,-158.775020,54880,269,248500,139147,19.02,7.5
2,Arizona,AZ,2021-02-05,7278717,34.168219,-111.930907,777038,13965,1186000,766788,10.53,10.7
3,Arkansas,AR,2021-02-05,3017804,34.751928,-92.131378,304723,5050,540050,374674,12.42,10.11
4,California,CA,2021-02-05,39512223,37.271875,-119.270415,3395295,43631,6963500,4137600,10.47,8.6
5,Colorado,CO,2021-02-05,5758736,38.997934,-105.550567,405200,5804,991075,694860,12.07,7.04
6,Connecticut,CT,2021-02-05,3565287,41.518784,-72.757507,259372,7214,740300,519400,14.57,7.29
7,Delaware,DE,2021-02-05,973764,39.145251,-75.418921,79546,1191,161525,118475,12.17,8.18
8,District of Columbia,DC,2021-02-05,705749,38.899349,-77.014567,37634,940,166950,102031,14.46,5.34
9,Florida,FL,2021-02-05,21477737,27.975728,-83.833017,1763865,27456,3791925,2385839,11.11,8.22

In [25]:
# Add Estimated Percent Immune Column
state_master_df["est_percent_immune"] = ""
state_master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-02-05,4903185,32.601011,-86.680736,469319,8449,804100,455173,9.28,9.59,
1,Alaska,AK,2021-02-05,731545,61.302501,-158.775020,54880,269,248500,139147,19.02,7.5,
2,Arizona,AZ,2021-02-05,7278717,34.168219,-111.930907,777038,13965,1186000,766788,10.53,10.7,
3,Arkansas,AR,2021-02-05,3017804,34.751928,-92.131378,304723,5050,540050,374674,12.42,10.11,
4,California,CA,2021-02-05,39512223,37.271875,-119.270415,3395295,43631,6963500,4137600,10.47,8.6,
5,Colorado,CO,2021-02-05,5758736,38.997934,-105.550567,405200,5804,991075,694860,12.07,7.04,
6,Connecticut,CT,2021-02-05,3565287,41.518784,-72.757507,259372,7214,740300,519400,14.57,7.29,
7,Delaware,DE,2021-02-05,973764,39.145251,-75.418921,79546,1191,161525,118475,12.17,8.18,
8,District of Columbia,DC,2021-02-05,705749,38.899349,-77.014567,37634,940,166950,102031,14.46,5.34,
9,Florida,FL,2021-02-05,21477737,27.975728,-83.833017,1763865,27456,3791925,2385839,11.11,8.22,

In [26]:
# Calcuation for estimated immune by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    infected = row["cases"]
    deaths = row["deaths"]
    vaccinated = row["total_administered"]
    
    est_total_immune = infected + vaccinated
    est_population = population - deaths
    
    percent_immune = round((est_total_immune / est_population) * 100, 2)
    
    state_master_df.at[index, "est_percent_immune"] = percent_immune

In [27]:
state_master_df.head(10)

,state,Abb,date,population,Latitude,Longitude,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,AL,2021-02-05,4903185,32.601011,-86.680736,469319,8449,804100,455173,9.28,9.59,18.89
1,Alaska,AK,2021-02-05,731545,61.302501,-158.775020,54880,269,248500,139147,19.02,7.5,26.53
2,Arizona,AZ,2021-02-05,7278717,34.168219,-111.930907,777038,13965,1186000,766788,10.53,10.7,21.25
3,Arkansas,AR,2021-02-05,3017804,34.751928,-92.131378,304723,5050,540050,374674,12.42,10.11,22.55
4,California,CA,2021-02-05,39512223,37.271875,-119.270415,3395295,43631,6963500,4137600,10.47,8.6,19.09
5,Colorado,CO,2021-02-05,5758736,38.997934,-105.550567,405200,5804,991075,694860,12.07,7.04,19.12
6,Connecticut,CT,2021-02-05,3565287,41.518784,-72.757507,259372,7214,740300,519400,14.57,7.29,21.89
7,Delaware,DE,2021-02-05,973764,39.145251,-75.418921,79546,1191,161525,118475,12.17,8.18,20.36
8,District of Columbia,DC,2021-02-05,705749,38.899349,-77.014567,37634,940,166950,102031,14.46,5.34,19.82
9,Florida,FL,2021-02-05,21477737,27.975728,-83.833017,1763865,27456,3791925,2385839,11.11,8.22,19.35

### Set up Daily Cases DF

In [28]:
nyt_avg_daily_cases = nytimes_nih_covid_df
nyt_avg_daily_cases.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

In [29]:
nyt_avg_daily_cases = nyt_avg_daily_cases.groupby("date").sum()
nyt_avg_daily_cases.head()

            fips  cases  deaths
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [30]:
nyt_avg_daily_cases["daily_new_cases"] = ""

In [31]:
nyt_avg_daily_cases.head()

            fips  cases  deaths daily_new_cases
date
2020-01-21    53      1       0
2020-01-22    53      1       0
2020-01-23    53      1       0
2020-01-24    70      2       0
2020-01-25    76      3       0

In [32]:
previous_day = 0

In [33]:
for index, row in nyt_avg_daily_cases.iterrows():
    new_cases = row["cases"] - previous_day
    previous_day = row["cases"]
    nyt_avg_daily_cases.at[index, "daily_new_cases"] = new_cases

In [34]:
nyt_avg_daily_cases["date"] = ""

In [35]:
nyt_avg_daily_cases

            fips     cases  deaths daily_new_cases date
date
2020-01-21    53         1       0               1
2020-01-22    53         1       0               0
2020-01-23    53         1       0               0
2020-01-24    70         2       0               1
2020-01-25    76         3       0               1
...          ...       ...     ...             ...  ...
2021-02-01  1762  26358607  443235          139832
2021-02-02  1762  26476526  446846          117919
2021-02-03  1762  26595540  450689          119014
2021-02-04  1762  26722382  455805          126842
2021-02-05  1762  26851974  459375          129592

[382 rows x 5 columns]

In [36]:
for index, row in nyt_avg_daily_cases.iterrows():
    date = index.date()
    nyt_avg_daily_cases.at[index, "date"] = date

In [37]:
nyt_avg_daily_cases.reset_index(drop=True, inplace=True)

In [38]:
nyt_avg_daily_cases.head(10)

   fips  cases  deaths daily_new_cases        date
0    53      1       0               1  2020-01-21
1    53      1       0               0  2020-01-22
2    53      1       0               0  2020-01-23
3    70      2       0               1  2020-01-24
4    76      3       0               1  2020-01-25
5    80      5       0               2  2020-01-26
6    80      5       0               0  2020-01-27
7    80      5       0               0  2020-01-28
8    80      5       0               0  2020-01-29
9    80      6       0               1  2020-01-30

### Set Up NYT Totals Master DF

In [39]:
nyt_master = pd.merge(nytimes_nih_covid_df, state_pop_df, how ="inner", on="state")
nyt_master.head()

        date       state  fips  cases  deaths  population
0 2020-01-21  Washington    53      1       0     7614893
1 2020-01-22  Washington    53      1       0     7614893
2 2020-01-23  Washington    53      1       0     7614893
3 2020-01-24  Washington    53      1       0     7614893
4 2020-01-25  Washington    53      1       0     7614893

In [40]:
nyt_master["est_percent_infected"] = ""
nyt_master.head()

        date       state  fips  cases  deaths  population est_percent_infected
0 2020-01-21  Washington    53      1       0     7614893
1 2020-01-22  Washington    53      1       0     7614893
2 2020-01-23  Washington    53      1       0     7614893
3 2020-01-24  Washington    53      1       0     7614893
4 2020-01-25  Washington    53      1       0     7614893

In [41]:
# Calcuation for est percent infected by state
for index, row in nyt_master.iterrows():
    population = int(row["population"])
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    if infected == 0:
        percent_infected = 0
    else: 
        percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    nyt_master.at[index, "est_percent_infected"] = percent_infected

In [42]:
nyt_master.head()

        date       state  fips  cases  deaths  population est_percent_infected
0 2020-01-21  Washington    53      1       0     7614893                    0
1 2020-01-22  Washington    53      1       0     7614893                    0
2 2020-01-23  Washington    53      1       0     7614893                    0
3 2020-01-24  Washington    53      1       0     7614893                    0
4 2020-01-25  Washington    53      1       0     7614893                    0

## JSON Exports

In [43]:
# Master DF to JSON
state_master_df.to_json("../data/state-master-data.json", orient="records")

In [44]:
# NYT Master to JSON 
nyt_master.to_json("../data/nyt-master.json", orient="records")

In [45]:
nyt_avg_daily_cases.to_json("../data/daily_new_cases.json", orient="records")

### CSV Exports

In [46]:
state_master_df.to_csv("../data/state-master-data.csv")

## Amazon RDS Updates

In [47]:
# Connect to AWS Database instance 
engine = create_engine(f'postgresql://uscovid:{password}@{endpoint}/us_covid_db')
connection = engine.connect()

In [49]:
# 50 States & D.C. Data
state_master_df.to_sql('master_table', index=False, if_exists='replace', con=connection)

In [50]:
# Daily Cases Data
nyt_avg_daily_cases.to_sql("daily_new_cases", index=False, if_exists='replace', con=connection)

In [50]:
# Raw NTY Data
nytimes_nih_covid_df.to_sql('nyt_table', index=True, if_exists='replace', con=connection)