In [1]:
# Import Pandas, Config Variables, and SQLalchemy
import pandas as pd
from config import endpoint, username, password
from sqlalchemy import create_engine

In [2]:
# Read CSVs for State Data
state_pop_df = pd.read_csv("../data/state_populations_cleaned.csv")
state_vacc_df = pd.read_csv("../data/state_covid_vaccinations_cleaned.csv")

In [3]:
# State Populations
state_pop_df.head()

        state  population
0     Alabama     4903185
1      Alaska      731545
2     Arizona     7278717
3    Arkansas     3017804
4  California    39512223

In [4]:
# State Vaccinations
state_vacc_df.head()

,state,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alaska,154325,71907,21096,9829,59449,8126,12352,1688
1,Alabama,493125,165919,10057,3384,144429,2946,21345,435
2,Arkansas,361550,173312,11981,5743,144792,4798,26541,879
3,Arizona,797550,303899,10957,4175,262120,3601,41613,572
4,California,4379500,1633875,11084,4135,1335886,3381,293834,744

In [5]:
# State Data Merged
state_merged_df = pd.merge(state_pop_df, state_vacc_df, how="left", on="state")
state_merged_df.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
0,Alabama,4903185,493125,165919,10057,3384,144429,2946,21345,435
1,Alaska,731545,154325,71907,21096,9829,59449,8126,12352,1688
2,Arizona,7278717,797550,303899,10957,4175,262120,3601,41613,572
3,Arkansas,3017804,361550,173312,11981,5743,144792,4798,26541,879
4,California,39512223,4379500,1633875,11084,4135,1335886,3381,293834,744

In [6]:
# Set State as the Index
state_info_df = state_merged_df.set_index("state") 
state_info_df.head()

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K
state,,,,,,,,,
Alabama,4903185,493125,165919,10057,3384,144429,2946,21345,435
Alaska,731545,154325,71907,21096,9829,59449,8126,12352,1688
Arizona,7278717,797550,303899,10957,4175,262120,3601,41613,572
Arkansas,3017804,361550,173312,11981,5743,144792,4798,26541,879
California,39512223,4379500,1633875,11084,4135,1335886,3381,293834,744

In [7]:
# Add Empty Column for New Calculation
state_info_df["percent_vaccinated"] = ""
state_info_df.head(10)

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,percent_vaccinated
state,,,,,,,,,,
Alabama,4903185,493125,165919,10057,3384,144429,2946,21345,435,
Alaska,731545,154325,71907,21096,9829,59449,8126,12352,1688,
Arizona,7278717,797550,303899,10957,4175,262120,3601,41613,572,
Arkansas,3017804,361550,173312,11981,5743,144792,4798,26541,879,
California,39512223,4379500,1633875,11084,4135,1335886,3381,293834,744,
Colorado,5758736,657250,353194,11413,6133,296816,5154,54474,946,
Connecticut,3565287,435075,264707,12203,7425,230913,6477,28602,802,
Delaware,973764,106600,49369,10947,5070,41900,4303,7355,755,
District of Columbia,705749,75175,55108,10652,7808,43377,6146,11685,1656,
Florida,21477737,2546050,1239975,11854,5773,1125338,5240,111763,520,

In [8]:
# Calcuation for percent vaccinated by state
for index, row in state_info_df.iterrows():
    population = row["population"]
    vaccinated = row["total_administered"]
    percent_vaccinated = round((vaccinated / population) * 100, 2)
    
    state_info_df.at[index, "percent_vaccinated"] = percent_vaccinated

In [9]:
# Check the data types
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     int64
 4   administered_per_100K             51 non-null     int64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   percent_vaccinated                51 non-null     object
dtypes: int64(9), object(1)
memory usage: 6.9+ KB

In [10]:
# Convert percent vaccinated into a float
state_info_df = state_info_df.astype({"percent_vaccinated": 'float64'})
state_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   population                        51 non-null     int64
 1   total_distributed                 51 non-null     int64
 2   total_administered                51 non-null     int64
 3   distributed_per_100K              51 non-null     int64
 4   administered_per_100K             51 non-null     int64
 5   people_with_1plus_doses           51 non-null     int64
 6   people_with_1plus_doses_per_100K  51 non-null     int64
 7   people_with_2_doses               51 non-null     int64
 8   people_with_2_doses_per_100K      51 non-null     int64
 9   percent_vaccinated                51 non-null     float64
dtypes: float64(1), int64(9)
memory usage: 6.9+ KB

In [11]:
state_info_df.head()

,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,percent_vaccinated
state,,,,,,,,,,
Alabama,4903185,493125,165919,10057,3384,144429,2946,21345,435,3.38
Alaska,731545,154325,71907,21096,9829,59449,8126,12352,1688,9.83
Arizona,7278717,797550,303899,10957,4175,262120,3601,41613,572,4.18
Arkansas,3017804,361550,173312,11981,5743,144792,4798,26541,879,5.74
California,39512223,4379500,1633875,11084,4135,1335886,3381,293834,744,4.14

## NIH AWS Data / NYT

In [12]:
# Read NYT / NIH json 
nytimes_nih_covid_df = pd.read_json("../data/daily_covid_stats_by_state_nyt.json", lines=True)

In [13]:
# Get Data for Most Recent Provided Date
most_recent_date = "2021-01-25"
latest_nyt_stateData = nytimes_nih_covid_df[nytimes_nih_covid_df['date'] == f'{most_recent_date}']

In [14]:
latest_nyt_stateData.head()

            date       state  fips    cases  deaths
18054 2021-01-25     Alabama     1   443009    6662
18055 2021-01-25      Alaska     2    53061     250
18056 2021-01-25     Arizona     4   728231   12239
18057 2021-01-25    Arkansas     5   284702    4650
18058 2021-01-25  California     6  3212488   37499

In [15]:
# Merge with State Info DF that contains population and vaccinations
latest_data_merged = pd.merge(state_info_df, latest_nyt_stateData, on="state")
latest_data_merged.head()

,state,population,total_distributed,total_administered,distributed_per_100K,administered_per_100K,people_with_1plus_doses,people_with_1plus_doses_per_100K,people_with_2_doses,people_with_2_doses_per_100K,percent_vaccinated,date,fips,cases,deaths
0,Alabama,4903185,493125,165919,10057,3384,144429,2946,21345,435,3.38,2021-01-25,1,443009,6662
1,Alaska,731545,154325,71907,21096,9829,59449,8126,12352,1688,9.83,2021-01-25,2,53061,250
2,Arizona,7278717,797550,303899,10957,4175,262120,3601,41613,572,4.18,2021-01-25,4,728231,12239
3,Arkansas,3017804,361550,173312,11981,5743,144792,4798,26541,879,5.74,2021-01-25,5,284702,4650
4,California,39512223,4379500,1633875,11084,4135,1335886,3381,293834,744,4.14,2021-01-25,6,3212488,37499

In [16]:
# Create a Master Dataframe to start working with
master_df = latest_data_merged[['state', 'date', 'population', 'cases', 'deaths', 'total_distributed', 'total_administered', 'percent_vaccinated' ]]
master_df.head(10)

,state,date,population,cases,deaths,total_distributed,total_administered,percent_vaccinated
0,Alabama,2021-01-25,4903185,443009,6662,493125,165919,3.38
1,Alaska,2021-01-25,731545,53061,250,154325,71907,9.83
2,Arizona,2021-01-25,7278717,728231,12239,797550,303899,4.18
3,Arkansas,2021-01-25,3017804,284702,4650,361550,173312,5.74
4,California,2021-01-25,39512223,3212488,37499,4379500,1633875,4.14
5,Colorado,2021-01-25,5758736,389227,5602,657250,353194,6.13
6,Connecticut,2021-01-25,3565287,243632,6911,435075,264707,7.42
7,Delaware,2021-01-25,973764,75191,1049,106600,49369,5.07
8,District of Columbia,2021-01-25,705749,35505,879,75175,55108,7.81
9,Florida,2021-01-25,21477737,1658161,25445,2546050,1239975,5.77

In [17]:
# Create empty column to calculate estimated percent infected to date
master_df["est_percent_infected_to_date"] = ""
master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,date,population,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,2021-01-25,4903185,443009,6662,493125,165919,3.38,
1,Alaska,2021-01-25,731545,53061,250,154325,71907,9.83,
2,Arizona,2021-01-25,7278717,728231,12239,797550,303899,4.18,
3,Arkansas,2021-01-25,3017804,284702,4650,361550,173312,5.74,
4,California,2021-01-25,39512223,3212488,37499,4379500,1633875,4.14,
5,Colorado,2021-01-25,5758736,389227,5602,657250,353194,6.13,
6,Connecticut,2021-01-25,3565287,243632,6911,435075,264707,7.42,
7,Delaware,2021-01-25,973764,75191,1049,106600,49369,5.07,
8,District of Columbia,2021-01-25,705749,35505,879,75175,55108,7.81,
9,Florida,2021-01-25,21477737,1658161,25445,2546050,1239975,5.77,

In [18]:
# Calcuation for est percent infected by state
for index, row in master_df.iterrows():
    population = row["population"]
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    master_df.at[index, "est_percent_infected_to_date"] = percent_infected

In [19]:
master_df.head(10)

,state,date,population,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date
0,Alabama,2021-01-25,4903185,443009,6662,493125,165919,3.38,9.05
1,Alaska,2021-01-25,731545,53061,250,154325,71907,9.83,7.26
2,Arizona,2021-01-25,7278717,728231,12239,797550,303899,4.18,10.02
3,Arkansas,2021-01-25,3017804,284702,4650,361550,173312,5.74,9.45
4,California,2021-01-25,39512223,3212488,37499,4379500,1633875,4.14,8.14
5,Colorado,2021-01-25,5758736,389227,5602,657250,353194,6.13,6.77
6,Connecticut,2021-01-25,3565287,243632,6911,435075,264707,7.42,6.85
7,Delaware,2021-01-25,973764,75191,1049,106600,49369,5.07,7.73
8,District of Columbia,2021-01-25,705749,35505,879,75175,55108,7.81,5.04
9,Florida,2021-01-25,21477737,1658161,25445,2546050,1239975,5.77,7.73

In [20]:
# Add Estimated Percent Immune Column
master_df["est_percent_immune"] = ""
master_df.head(10)

C:\Users\coled\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,date,population,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,2021-01-25,4903185,443009,6662,493125,165919,3.38,9.05,
1,Alaska,2021-01-25,731545,53061,250,154325,71907,9.83,7.26,
2,Arizona,2021-01-25,7278717,728231,12239,797550,303899,4.18,10.02,
3,Arkansas,2021-01-25,3017804,284702,4650,361550,173312,5.74,9.45,
4,California,2021-01-25,39512223,3212488,37499,4379500,1633875,4.14,8.14,
5,Colorado,2021-01-25,5758736,389227,5602,657250,353194,6.13,6.77,
6,Connecticut,2021-01-25,3565287,243632,6911,435075,264707,7.42,6.85,
7,Delaware,2021-01-25,973764,75191,1049,106600,49369,5.07,7.73,
8,District of Columbia,2021-01-25,705749,35505,879,75175,55108,7.81,5.04,
9,Florida,2021-01-25,21477737,1658161,25445,2546050,1239975,5.77,7.73,

In [21]:
# Calcuation for estimated immune by state
for index, row in master_df.iterrows():
    population = row["population"]
    infected = row["cases"]
    deaths = row["deaths"]
    vaccinated = row["total_administered"]
    
    est_total_immune = infected + vaccinated
    est_population = population - deaths
    
    percent_infected = round((est_total_immune / est_population) * 100, 2)
    
    master_df.at[index, "est_percent_immune"] = percent_infected

In [22]:
master_df.head(10)

,state,date,population,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,2021-01-25,4903185,443009,6662,493125,165919,3.38,9.05,12.44
1,Alaska,2021-01-25,731545,53061,250,154325,71907,9.83,7.26,17.09
2,Arizona,2021-01-25,7278717,728231,12239,797550,303899,4.18,10.02,14.2
3,Arkansas,2021-01-25,3017804,284702,4650,361550,173312,5.74,9.45,15.2
4,California,2021-01-25,39512223,3212488,37499,4379500,1633875,4.14,8.14,12.28
5,Colorado,2021-01-25,5758736,389227,5602,657250,353194,6.13,6.77,12.9
6,Connecticut,2021-01-25,3565287,243632,6911,435075,264707,7.42,6.85,14.29
7,Delaware,2021-01-25,973764,75191,1049,106600,49369,5.07,7.73,12.81
8,District of Columbia,2021-01-25,705749,35505,879,75175,55108,7.81,5.04,12.86
9,Florida,2021-01-25,21477737,1658161,25445,2546050,1239975,5.77,7.73,13.51

## Upload data to AWS RDS

In [ ]:
# Connect to AWS Database instance 
engine = create_engine(f'postgresql://uscovid:{password}@{endpoint}/us_covid_db')
connection = engine.connect()

In [ ]:
# Add to AWS RDS (PostgreSQL)
master_df.to_sql('master_table', index=False, if_exists='replace', con=connection)

In [24]:
master_df

,state,date,population,cases,deaths,total_distributed,total_administered,percent_vaccinated,est_percent_infected_to_date,est_percent_immune
0,Alabama,2021-01-25,4903185,443009,6662,493125,165919,3.38,9.05,12.44
1,Alaska,2021-01-25,731545,53061,250,154325,71907,9.83,7.26,17.09
2,Arizona,2021-01-25,7278717,728231,12239,797550,303899,4.18,10.02,14.2
3,Arkansas,2021-01-25,3017804,284702,4650,361550,173312,5.74,9.45,15.2
4,California,2021-01-25,39512223,3212488,37499,4379500,1633875,4.14,8.14,12.28
5,Colorado,2021-01-25,5758736,389227,5602,657250,353194,6.13,6.77,12.9
6,Connecticut,2021-01-25,3565287,243632,6911,435075,264707,7.42,6.85,14.29
7,Delaware,2021-01-25,973764,75191,1049,106600,49369,5.07,7.73,12.81
8,District of Columbia,2021-01-25,705749,35505,879,75175,55108,7.81,5.04,12.86
9,Florida,2021-01-25,21477737,1658161,25445,2546050,1239975,5.77,7.73,13.51
10,Georgia,2021-01-25,10617423,847036,12890,1162275,453862,4.27,7.99,12.27
11,Hawaii,2021-01-25,1415872,25209,339,189675,79414,5.61,1.78,7.39
12,Idaho,2021-01-25,1787065,160182,1687,178175,73372,4.11,8.97,13.08
13,Illinois,2021-01-25,12671821,1107388,20744,1173325,570527,4.50,8.75,13.26
14,Indiana,2021-01-25,6732219,616310,9728,816025,387137,5.75,9.17,14.93
15,Iowa,2021-01-25,3155070,313907,4488,328600,158743,5.03,9.96,15
16,Kansas,2021-01-25,2913314,272220,3622,312000,130434,4.48,9.36,13.84
17,Kentucky,2021-01-25,4467673,351462,3730,450175,235143,5.26,7.87,13.14
18,Louisiana,2021-01-25,4648794,385942,8590,492800,279398,6.01,8.32,14.34
19,Maine,2021-01-25,1344212,37046,547,165175,80502,5.99,2.76,8.75
20,Maryland,2021-01-25,6045680,343353,6900,685325,271905,4.50,5.69,10.19
21,Massachusetts,2021-01-25,6892503,503688,14178,776400,353117,5.12,7.32,12.46
22,Michigan,2021-01-25,9986857,598449,15208,1059275,548844,5.50,6,11.51
23,Minnesota,2021-01-25,5639632,455851,6166,652350,259417,4.60,8.09,12.7
24,Mississippi,2021-01-25,2976149,265146,5777,334800,136691,4.59,8.93,13.53
25,Missouri,2021-01-25,6137428,483906,6968,621200,265382,4.32,7.89,12.22
26,Montana,2021-01-25,1068778,91905,1152,112125,60389,5.65,8.61,14.26
27,Nebraska,2021-01-25,1934408,187993,1972,238000,111841,5.78,9.73,15.52
28,Nevada,2021-01-25,3080156,272019,4032,278175,115991,3.77,8.84,12.61
29,New Hampshire,2021-01-25,1359711,62768,990,155150,80639,5.93,4.62,10.55
30,New Jersey,2021-01-25,8882190,666951,20972,923300,432220,4.87,7.53,12.4
31,New Mexico,2021-01-25,2096829,169696,3159,237725,152465,7.27,8.11,15.39
32,New York,2021-01-25,19453561,1347924,42090,2213975,1116441,5.74,6.94,12.7
33,North Carolina,2021-01-25,10488084,725176,8777,1157100,473282,4.51,6.92,11.44
34,North Dakota,2021-01-25,762062,96899,1436,82850,59245,7.77,12.74,20.53
35,Ohio,2021-01-25,11689100,868656,10768,1122300,487481,4.17,7.44,11.61
36,Oklahoma,2021-01-25,3956971,374853,3293,490500,267434,6.76,9.48,16.25
37,Oregon,2021-01-25,4217737,138587,1892,479325,216928,5.14,3.29,8.43
38,Pennsylvania,2021-01-25,12801989,813665,20664,1344375,605428,4.73,6.37,11.1
39,Rhode Island,2021-01-25,1059361,111754,2110,127450,59014,5.57,10.57,16.15
40,South Carolina,2021-01-25,5148714,421417,6552,443375,209631,4.07,8.2,12.27
41,South Dakota,2021-01-25,884659,107180,1705,99300,65377,7.39,12.14,19.54
42,Tennessee,2021-01-25,6829174,695935,8776,723825,375669,5.50,10.2,15.71
43,Texas,2021-01-25,28995881,2270391,35236,2754800,1544551,5.33,7.84,13.17
44,Utah,2021-01-25,3205958,337264,1599,337825,189578,5.91,10.53,16.44
45,Vermont,2021-01-25,623989,11165,171,78875,42835,6.86,1.79,8.66
46,Virginia,2021-01-25,8535519,478619,6081,992375,362092,4.24,5.61,9.86
47,Washington,2021-01-25,7614893,306489,4221,820875,373423,4.90,4.03,8.93
48,West Virginia,2021-01-25,1792147,115839,1899,231800,167548,9.35,6.47,15.83
49,Wisconsin,2021-01-25,5822434,582477,6203,577325,238758,4.10,10.01,14.12
50,Wyoming,2021-01-25,578759,51062,571,67450,29309,5.06,8.83,13.9

In [27]:
# Export as json
master_df.to_json("../data/master-data.json", orient="records")

In [ ]:
# Add to AWS RDS (PostgreSQL)
nytimes_nih_covid_df.to_sql('nyt_table', index=True, if_exists='replace', con=connection)